force-app/main/default/flows/Account_Update_Triggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Previous_Name_Assignment_Concatenating_Name</name>
        <label>Previous Name Assignment - Concatenating Name</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Previous_Company_Name_SAPID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Concat_of_Account_name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Reset_Sharing_Recalculation_Flag_and_Previous_Company_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Previous_Name_Field_Assignment_Append_New_Line</name>
        <label>Previous Name Field Assignment - Append New Line</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Previous_Company_Name_SAPID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AppendNewLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Reset_Sharing_Recalculation_Flag_and_Previous_Company_Name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_flows_enabled</name>
        <label>Are flows enabled?</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Flows_should_run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Configuration__c.Are_Flows_Off__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Name_or_SAP_number_is_changed</targetReference>
            </connector>
            <label>Flows should run</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Name_or_SAP_number_is_changed</name>
        <label>Check if Name or SAP number is changed?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Previous_Name_Field_Assignment_Append_New_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SAP_Account_Number__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Previous_Company_Name_SAPID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_Name_Assignment_Concatenating_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>AppendNewLine</name>
        <dataType>String</dataType>
        <expression>{!$Record__Prior.Previous_Company_Name_SAPID__c} &amp; BR() &amp;  {!Concat_of_Account_name}</expression>
    </formulas>
    <formulas>
        <name>Concat_of_Account_name</name>
        <dataType>String</dataType>
        <expression>&quot;PREVIOUS NAME: &quot; &amp; {!$Record__Prior.Name}&amp; &quot;, &quot; &amp; &quot;PREVIOUS SAP: &quot; &amp; {!$Record__Prior.SAP_Account_Number__c} &amp; &quot;, &quot; &amp; &quot;DATE STAMP: &quot; &amp; TEXT( NOW() ) &amp; &quot;. &quot;</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Account - Update Triggered {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Update Triggered</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Reset_Sharing_Recalculation_Flag_and_Previous_Company_Name</name>
        <label>Update Reset Sharing Recalculation Flag and Previous Company Name</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>Previous_Company_Name_SAPID__c</field>
            <value>
                <elementReference>Previous_Company_Name_SAPID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recalculate_Apex_Sharing__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Are_flows_enabled</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Previous_Company_Name_SAPID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Store_template_id</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailTemplate</objectType>
    </variables>
    <variables>
        <name>Store_User_IDs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>User_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
