force-app/main/default/flows/Company_Name_SAPID_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Previous_Name_assignment</name>
        <label>Previous Name assignment</label>
        <locationX>944</locationX>
        <locationY>531</locationY>
        <assignmentItems>
            <assignToReference>$Record.Previous_Company_Name_SAPID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConcatofAccountNameam</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Previous_Name_Field_Populated</name>
        <label>Previous Name Field Populated</label>
        <locationX>623</locationX>
        <locationY>535</locationY>
        <assignmentItems>
            <assignToReference>$Record.Previous_Company_Name_SAPID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AppendNewLine</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>field_populated</name>
        <label>field Not Populated populated</label>
        <locationX>773</locationX>
        <locationY>359</locationY>
        <defaultConnector>
            <targetReference>Previous_Name_Field_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Previous_Company_Name_SAPID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Previous_Name_assignment</targetReference>
            </connector>
            <label>Not populated</label>
        </rules>
    </decisions>
    <formulas>
        <name>AppendNewLine</name>
        <dataType>String</dataType>
        <expression>{!$Record__Prior.Previous_Company_Name_SAPID__c} &amp; BR() &amp;  {!ConcatofAccountNameam}</expression>
    </formulas>
    <formulas>
        <name>ConcatofAccountNameam</name>
        <dataType>String</dataType>
        <expression>&quot;PREVIOUS NAME: &quot; &amp; {!$Record__Prior.Name}&amp; &quot;, &quot; &amp; &quot;PREVIOUS SAP: &quot; &amp; {!$Record__Prior.SAP_Account_Number__c} &amp; &quot;, &quot; &amp; &quot;DATE STAMP: &quot; &amp; TEXT( NOW() ) &amp; &quot;. &quot;</expression>
    </formulas>
    <interviewLabel>Company Name &amp; SAPID Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Company Name &amp; SAPID Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>647</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>field_populated</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SAP_Account_Number__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
