force-app/main/default/flows/Create_New_BD_Opp_or_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Create_Lead_or_Opportunity</name>
        <label>Create Lead or Opportunity</label>
        <locationX>565</locationX>
        <locationY>105</locationY>
        <defaultConnector>
            <targetReference>Unable_to_Convert_Business_Development</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Customer_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BD_record.Existing_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_BD_record.Existing_Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Customer_Record</targetReference>
            </connector>
            <label>Existing Customer Populated</label>
        </rules>
        <rules>
            <name>New_Customer_and_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_BD_record.New_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_BD_record.Contact_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_BD_record.Existing_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Lead</targetReference>
            </connector>
            <label>New Customer and Contact</label>
        </rules>
    </decisions>
    <formulas>
        <name>Close_Date</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(TODAY(),6)</expression>
    </formulas>
    <formulas>
        <name>Lead_First_Name</name>
        <dataType>String</dataType>
        <expression>LEFT( {!Get_BD_record.Contact_Name__c} ,FIND(&quot; &quot;,{!Get_BD_record.Contact_Name__c})-1)</expression>
    </formulas>
    <formulas>
        <name>Lead_Last_Name</name>
        <dataType>String</dataType>
        <expression>RIGHT( {!Get_BD_record.Contact_Name__c},LEN({!Get_BD_record.Contact_Name__c})-LEN({!Lead_First_Name})-1
)</expression>
    </formulas>
    <formulas>
        <name>OpportunityName</name>
        <dataType>String</dataType>
        <expression>{!Get_BD_record.Existing_Account__r.Name}&amp;&quot; - &quot;&amp;{!Get_BD_record.Product__c}&amp;&quot; - &quot;&amp;TEXT({!Get_BD_record.Sales_Opportunity_Year__c})</expression>
    </formulas>
    <formulas>
        <name>SalesOrgFormula</name>
        <dataType>String</dataType>
        <expression>CASE(
TEXT({!Get_BD_record.Sales_Organization__c}),
&quot;EN60&quot;,&quot;UK&quot;,
&quot;VD30&quot;,&quot;Italy&quot;,
&quot;VD10&quot;,&quot;Spain&quot;,
&quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>UnitsVolumeformula</name>
        <dataType>Number</dataType>
        <expression>{!Get_BD_record.Units_Volume_M__c}*1000</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Create New BD Opp or Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New BD Opp or Lead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Lead</name>
        <label>Create New Lead</label>
        <locationX>737</locationX>
        <locationY>355</locationY>
        <assignRecordIdToReference>LeadId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_BD_record_with_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Get_BD_record.New_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_BD_record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Lead_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Lead_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Business Development Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Steps__c</field>
            <value>
                <elementReference>Get_BD_record.Next_Steps__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_BD_record.Account_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume_Tons_000__c</field>
            <value>
                <elementReference>Get_BD_record.Tons_Volume__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume_Units_000__c</field>
            <value>
                <elementReference>UnitsVolumeformula</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordCreates>
        <name>Create_opportunity</name>
        <label>Create opportunity</label>
        <locationX>949</locationX>
        <locationY>102</locationY>
        <assignRecordIdToReference>OppId</assignRecordIdToReference>
        <connector>
            <targetReference>Add_Opportunity_to_BD_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_BD_record.Existing_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Development__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Get_BD_record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Manufacturer__c</field>
            <value>
                <elementReference>Get_BD_record.Current_Manufacturer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expected_Annualised_Volume_000_s__c</field>
            <value>
                <elementReference>UnitsVolumeformula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Supply_Predicted_Date__c</field>
            <value>
                <elementReference>Get_BD_record.First_Supply_Predicted_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Business Development Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextStep</field>
            <value>
                <elementReference>Get_BD_record.Next_Steps__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Business_Type__c</field>
            <value>
                <elementReference>Get_BD_record.Opportunity_Business_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_BD_record.Account_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124I000000dETsQAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Organization_Text__c</field>
            <value>
                <elementReference>SalesOrgFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Organization__c</field>
            <value>
                <elementReference>Get_BD_record.Sales_Organization__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Introduction</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supply_Term_End_Date__c</field>
            <value>
                <elementReference>Get_BD_record.Supply_Term_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordLookups>
        <name>Get_BD_record</name>
        <label>Get BD record</label>
        <locationX>407</locationX>
        <locationY>103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Lead_or_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Development__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Customer_Record</name>
        <label>Get Existing Customer Record</label>
        <locationX>775</locationX>
        <locationY>102</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_BD_record.Existing_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Add_Opportunity_to_BD_Record</name>
        <label>Add Opportunity to BD Record</label>
        <locationX>1099</locationX>
        <locationY>102</locationY>
        <connector>
            <targetReference>Conversion_Finished_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </inputAssignments>
        <object>Business_Development__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BD_record_with_Lead</name>
        <label>Update BD record with Lead</label>
        <locationX>909</locationX>
        <locationY>355</locationY>
        <connector>
            <targetReference>Conversion_Finished_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Related_Lead__c</field>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </inputAssignments>
        <object>Business_Development__c</object>
    </recordUpdates>
    <screens>
        <name>Conversion_Finished_Screen</name>
        <label>Conversion Finished Screen</label>
        <locationX>1099</locationX>
        <locationY>355</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Conversion_Finished_Display_Text</name>
            <fieldText>&lt;p&gt;The conversion is now finished. Please refresh the page and view your converted record in the Converted Details section&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Unable_to_Convert_Business_Development</name>
        <label>Unable to Convert Business Development</label>
        <locationX>413</locationX>
        <locationY>358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;It is not possible to convert this business opportunity at the moment. Please ensure that either:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Existing Account or New Account is populated&lt;/li&gt;&lt;li&gt;If a new Account then the New Contact field must be populated&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>67</locationX>
        <locationY>103</locationY>
        <connector>
            <targetReference>Get_BD_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
