force-app/main/default/flows/CreatePBE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <interviewLabel>FlowCreatePBE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowCreatePBE</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_EUR_PBE</name>
        <label>Create EURPBE</label>
        <locationX>178</locationX>
        <locationY>409</locationY>
        <faultConnector>
            <targetReference>CreateErrorLogEntry</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01s580000009GHcAAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>ProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
    </recordCreates>
    <recordCreates>
        <name>Create_PBE</name>
        <label>Create PBE</label>
        <locationX>181</locationX>
        <locationY>238</locationY>
        <connector>
            <targetReference>Create_EUR_PBE</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CreateErrorLogEntry</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01s580000009GHcAAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>ProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>PricebookEntry</object>
    </recordCreates>
    <startElementReference>Create_PBE</startElementReference>
    <status>Obsolete</status>
    <subflows>
        <name>CreateErrorLogEntry</name>
        <label>CreateErrorLogEntry</label>
        <locationX>509</locationX>
        <locationY>356</locationY>
        <flowName>FlowLogError</flowName>
        <inputAssignments>
            <name>VarErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>VarFlowName</name>
            <value>
                <stringValue>FlowCreatePBE</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
