force-app/main/default/flows/Customer_Service_Visit_Report_Create_or_Update_Triggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_Account_Owner</name>
        <label>Alert Account Owner</label>
        <locationX>204</locationX>
        <locationY>2147</locationY>
        <actionName>Customer_Services_Visit_Report__c.Customer_Service_Visit_Report_Complete</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>When_Derrylin</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Customer_Services_Visit_Report__c.Customer_Service_Visit_Report_Complete</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_for_Corsico</name>
        <label>Email Alert for Corsico</label>
        <locationX>633</locationX>
        <locationY>2663</locationY>
        <actionName>Customer_Services_Visit_Report__c.Customer_Services_Visit_Report_Corsico</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Customer_Services_Visit_Report__c.Customer_Services_Visit_Report_Corsico</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_alert_for_Derrylin</name>
        <label>Email alert for Derrylin</label>
        <locationX>105</locationX>
        <locationY>2447</locationY>
        <actionName>Customer_Services_Visit_Report__c.Customer_Services_Visit_Report_Derrylin</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Customer_Services_Visit_Report__c.Customer_Services_Visit_Report_Derrylin</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_alert_for_Elton</name>
        <label>Email alert for Elton</label>
        <locationX>369</locationX>
        <locationY>2555</locationY>
        <actionName>Customer_Services_Visit_Report__c.Customer_Services_Visit_Report_Elton</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Customer_Services_Visit_Report__c.Customer_Services_Visit_Report_Elton</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Account_Manager_email</name>
        <label>Assign Account Manager email</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Var_Customer_Services_Visit_Report.Account_Manager_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Name__r.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Populate_Target_AQL</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ID_to_Variable_for_Customer_Service_Report</name>
        <label>Assign ID to Variable for Customer Service Report</label>
        <locationX>204</locationX>
        <locationY>1739</locationY>
        <assignmentItems>
            <assignToReference>Var_Customer_Services_Visit_Report.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Customer_Service_Visit_Report</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Name</name>
        <label>Assign Name</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Var_Customer_Services_Visit_Report.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name_Formula__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Customer_Name_is_not_null</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Stamp_Account_Team</name>
        <label>Assign Stamp Account Team</label>
        <locationX>204</locationX>
        <locationY>1439</locationY>
        <assignmentItems>
            <assignToReference>Var_Customer_Services_Visit_Report.Account_Executive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Name__r.Account_Executive__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Customer_Services_Visit_Report.Sales_Admin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Name__r.Sales_Admin_Lookup__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Var_Customer_Services_Visit_Report.Senior_Sales_Admin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Name__r.Senior_Sales_Admin_Lookup__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Variable_for_Customer_Service_Visit_Report_is_empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Target_AQL</name>
        <label>Assign Target AQL</label>
        <locationX>204</locationX>
        <locationY>1139</locationY>
        <assignmentItems>
            <assignToReference>Var_Customer_Services_Visit_Report.Customer_AQL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_Name__r.Target_AQL__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Report</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_Flows_enabled</name>
        <label>Are Flows enabled?</label>
        <locationX>748</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Flow_should_run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Configuration__c.Are_Flows_Off__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Name_change</targetReference>
            </connector>
            <label>Flow should run</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Name_change</name>
        <label>Check for Name change?</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Populate_Target_AQL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Name_change_check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Name</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Customer_Name_is_not_null</name>
        <label>Check if Customer Name is not null?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Populate_Target_AQL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_Manager_email</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Report_Complete</name>
        <label>Check if Report Complete?</label>
        <locationX>336</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>When_Derrylin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>TRUE_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Report_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Report_Complete__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_Account_Owner</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Variable_for_Customer_Service_Visit_Report_is_empty</name>
        <label>Check if Variable for Customer Service Visit Report is null?</label>
        <locationX>336</locationX>
        <locationY>1631</locationY>
        <defaultConnector>
            <targetReference>Check_if_Report_Complete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_Customer_Services_Visit_Report</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ID_to_Variable_for_Customer_Service_Report</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Report</name>
        <label>Check for New Report?</label>
        <locationX>336</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>Check_if_Variable_for_Customer_Service_Visit_Report_is_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>TRUE_NR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_report_check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stamp_Account_Team</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Populate_Target_AQL</name>
        <label>Check if Target AQL is Populated?</label>
        <locationX>336</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>New_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>TRUE_AQL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Name__r.Target_AQL__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Target_AQL</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>When_Corsico</name>
        <label>When Corsico?</label>
        <locationX>765</locationX>
        <locationY>2555</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True_Corsico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Plant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corsico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Report_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Report_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_for_Corsico</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>When_Derrylin</name>
        <label>When Derrylin?</label>
        <locationX>336</locationX>
        <locationY>2339</locationY>
        <defaultConnector>
            <targetReference>When_Elton</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True_Derrylin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Report_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Report_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Plant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Derrylin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_alert_for_Derrylin</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>When_Elton</name>
        <label>When Elton?</label>
        <locationX>567</locationX>
        <locationY>2447</locationY>
        <defaultConnector>
            <targetReference>When_Corsico</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True_Elton</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Report_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Plant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elton</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Report_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_alert_for_Elton</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Name_change_check</name>
        <dataType>Boolean</dataType>
        <expression>OR(
 ISNEW(),
 ISCHANGED({!$Record.Customer_Name__c} ),
 ISCHANGED({!$Record.Filling_Line__c} ),
 ISCHANGED({!$Record.Date__c} )
 )</expression>
    </formulas>
    <formulas>
        <name>New_report_check</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Customer Service Visit Report - Create or Update Triggered {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Service Visit Report - Create or Update Triggered</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Customer_Service_Visit_Report</name>
        <label>Update Customer Service Visit Report fields</label>
        <locationX>204</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Check_if_Report_Complete</targetReference>
        </connector>
        <inputReference>Var_Customer_Services_Visit_Report</inputReference>
    </recordUpdates>
    <start>
        <locationX>622</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Are_Flows_enabled</targetReference>
        </connector>
        <object>Customer_Services_Visit_Report__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Var_Customer_Services_Visit_Report</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Customer_Services_Visit_Report__c</objectType>
    </variables>
</Flow>
