force-app/main/default/flows/Customer_Service_Data_Collection_Create_or_Update_Triggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Alert_for_All</name>
        <label>Email Alert for All</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <actionName>Customer_Service_Data_Collection__c.Customer_Services_Data_Report_All</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Customer_Services_Data_Collection_notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_for_All_CS</name>
        <label>Email Alert for All</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <actionName>Customer_Service_Data_Collection__c.Customer_Services_Data_Report_All</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Customer_Services_Data_Collection_notification2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_for_All_DR</name>
        <label>Email Alert for All</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <actionName>Customer_Service_Data_Collection__c.Customer_Services_Data_Report_All</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Customer_Services_Data_Collection_notification3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Customer_Services_Data_Collection_notification</name>
        <label>Send &apos;Customer Services Data Collection&apos; notification</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <actionName>Customer_Service_Data_Collection__c.Customer_Service_Data_Collection_Report_Complete_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Customer_Services_Data_Collection_notification2</name>
        <label>Send &apos;Customer Services Data Collection&apos; notification</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <actionName>Customer_Service_Data_Collection__c.Customer_Service_Data_Collection_Report_Complete_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Customer_Services_Data_Collection_notification3</name>
        <label>Send &apos;Customer Services Data Collection&apos; notification</label>
        <locationX>578</locationX>
        <locationY>1163</locationY>
        <actionName>Customer_Service_Data_Collection__c.Customer_Service_Data_Collection_Report_Complete_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Are_Flows_enabled</name>
        <label>Are Flows enabled?</label>
        <locationX>693</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Flow_should_run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Configuration__c.Are_Flows_Off__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Customer_field_populated</targetReference>
            </connector>
            <label>Flow should run</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Customer_field_populated</name>
        <label>Is Customer field populated?</label>
        <locationX>281</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>When_Derrylin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Report_complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Owner_field</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>When_Corsico</name>
        <label>When Corsico?</label>
        <locationX>512</locationX>
        <locationY>839</locationY>
        <defaultConnector>
            <targetReference>When_Elton</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True_Corsico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Plant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corsico</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Report_complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_for_All_CS</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>When_Derrylin</name>
        <label>When Derrylin?</label>
        <locationX>281</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>When_Corsico</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True_Derrylin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Plant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Derrylin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Report_complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_for_All</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>When_Elton</name>
        <label>When Elton?</label>
        <locationX>710</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True_Elton</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Plant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Elton</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Report_complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_for_All_DR</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>True</label>
        </rules>
    </decisions>
    <interviewLabel>Customer Service Data Collection - Create or Update Triggered {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Service Data Collection - Create or Update Triggered</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account_Owner_field</name>
        <label>Update Account Owner field</label>
        <locationX>149</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>When_Derrylin</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Owner__c</field>
            <value>
                <elementReference>$Record.Customer__r.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Admin__c</field>
            <value>
                <elementReference>$Record.Customer__r.Sales_Admin_Lookup__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Senior_Sales_Admin__c</field>
            <value>
                <elementReference>$Record.Customer__r.Senior_Sales_Admin_Lookup__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>567</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Are_Flows_enabled</targetReference>
        </connector>
        <object>Customer_Service_Data_Collection__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
