force-app/main/default/flows/Design_Brief_Screen_Flow_Create_NPD_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Flow to create and NPD Request from values populated on the Design Brief</description>
    <environments>Default</environments>
    <formulas>
        <description>link to new record</description>
        <name>FormulaforLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_550})) &amp; {!Create_NPD_Request}</expression>
    </formulas>
    <interviewLabel>Design Brief Screen Flow - Create NPD Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Design Brief Screen Flow - Create NPD Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates the NPD Request record from Design Brief Values</description>
        <name>Create_NPD_Request</name>
        <label>Create NPD Request</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>npd_lookup_update</targetReference>
        </connector>
        <inputAssignments>
            <field>Capacity_Brimful_ml__c</field>
            <value>
                <elementReference>recordId.Capacity_Brimful_ml__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capacity_Fill_Point_ml__c</field>
            <value>
                <elementReference>recordId.Capacity_Fill_Point_ml__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carbonated_Level_g_CO2_litre__c</field>
            <value>
                <elementReference>recordId.Carbonated_Level_g_CO2_litre__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor_s_Drawing_Attached__c</field>
            <value>
                <elementReference>recordId.Competitor_s_Drawing_Attached__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor_s_Reference_Number__c</field>
            <value>
                <elementReference>recordId.Competitor_s_Reference_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Container_Description__c</field>
            <value>
                <elementReference>recordId.Container_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Costings_Completed_By_Commercial_Manager__c</field>
            <value>
                <elementReference>recordId.Costings_Completed_By_Commercial_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>recordId.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Contact__c</field>
            <value>
                <elementReference>recordId.Customer_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Date_For_24_Samples__c</field>
            <value>
                <elementReference>recordId.Delivery_Date_For_24_Samples__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Design_Brief_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Design_Brief_SR_001_Rev_6__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Embossed__c</field>
            <value>
                <elementReference>recordId.Embossed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Volume_000_s__c</field>
            <value>
                <elementReference>recordId.Estimated_Volume_000_s__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Customer_Name__c</field>
            <value>
                <elementReference>recordId.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_SKU__c</field>
            <value>
                <elementReference>recordId.Existing_Container__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Filling_Process_Type__c</field>
            <value>
                <elementReference>recordId.Filling_Process_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Glass_Colour__c</field>
            <value>
                <elementReference>recordId.Glass_Colour__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Glass_Finish_Details__c</field>
            <value>
                <elementReference>recordId.Glass_Finish_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_No_Line_Audit_Date_Who_Is_Responsible__c</field>
            <value>
                <elementReference>recordId.If_No_Line_Audit_Date_Who_Is_Responsible__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_Audit_Completed_Date__c</field>
            <value>
                <elementReference>recordId.Line_Audit_Completed_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NPD_Stage__c</field>
            <value>
                <stringValue>Design Brief</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Colour__c</field>
            <value>
                <elementReference>recordId.Other_Colour__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Information__c</field>
            <value>
                <elementReference>recordId.Other_Information__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refillable__c</field>
            <value>
                <elementReference>recordId.Refillable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Bulk_Glass_Date__c</field>
            <value>
                <elementReference>recordId.Production_Glass_Required_By__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TypeOfDesign__c</field>
            <value>
                <elementReference>recordId.Type_of_Design__c</elementReference>
            </value>
        </inputAssignments>
        <object>NPD_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>look up field</description>
        <name>npd_lookup_update</name>
        <label>npd lookup update</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Screen2created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NPD_Request__c</field>
            <value>
                <elementReference>Create_NPD_Request</elementReference>
            </value>
        </inputAssignments>
        <object>Design_Brief__c</object>
    </recordUpdates>
    <screens>
        <description>If the Design Brief was created before the NPD Requeuest use this flow to create a new record</description>
        <name>Create_NPD_Request_From_Design_Brief</name>
        <label>Create NPD Request From Design Brief</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_NPD_Request</targetReference>
        </connector>
        <fields>
            <name>Screen1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Create NPD Request &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Hi,  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;It Looks like there isn&apos;t an &quot;&lt;strong&gt;NPD Request&quot;&lt;/strong&gt; Associated with this &lt;strong&gt;Design Brief: {!recordId.Name}.&lt;/strong&gt; Please click the button below if you would like to create one.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Create NPD Request</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen2created</name>
        <label>Screen2created</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ConfirmationDT</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Your &quot;NPD Request&quot; Has Been Created!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!FormulaforLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click Here!&lt;/a&gt; to go to the record now. &lt;/p&gt;&lt;p&gt;Or refresh the browser to hide this screen.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_NPD_Request_From_Design_Brief</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Design_Brief__c</objectType>
    </variables>
</Flow>
