force-app/main/default/flows/DispatchBatchFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_Batch</name>
        <label>Run Batch</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>DispatchBatchForFlow</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Create_Error_Log</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>DispatchBatchForFlow</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>DispatchBatchFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DispatchBatchFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Error_Log</name>
        <label>Create Error Log</label>
        <locationX>440</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flow_Name__c</field>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <object>FlowErrorLog__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_Batch</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
