force-app/main/default/flows/Drawing_Create_or_Update_Triggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Drawing_Record_Updates_Alert</name>
        <label>Drawing Record Updates Alert</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Drawing__c.Drawing_Record_Updates_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_if_Design_Brief_is_Changed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Are_Flows_enabled</name>
        <label>Are Flows enabled?</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Flow_should_run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Configuration__c.Are_Flows_Off__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Record_is_Updated</targetReference>
            </connector>
            <label>Flow should run</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Design_Brief_is_Changed</name>
        <label>Check if Design Brief is Changed?</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Check_if_Trial_Data_is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Design_Brief__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Design_Brief_Lookup</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_MPA_Lookup_is_Changed</name>
        <label>Check if MPA Lookup is Changed?</label>
        <locationX>182</locationX>
        <locationY>1331</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>True_MPA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SO_003_MPA_form_Rev_18_Lookup__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Record_is_Updated</name>
        <label>Check if Record is Updated and Sales Org SAP Code Check?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_if_Design_Brief_is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>True_update</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Spec_No__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SAP_Material_Code__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>USERSalesOrgSAPCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Is_New</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Drawing_Record_Updates_Alert</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Trial_Data_is_Changed</name>
        <label>Check if Trial Data is Changed?</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Check_if_MPA_Lookup_is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>True_Trial_data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trial_Data_Lookup__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>Is_New</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>Formula is used to identify the Sales Organisation SAP Code of the user creating/raising any Drawing records.</description>
        <name>USERSalesOrgSAPCode</name>
        <dataType>Boolean</dataType>
        <expression>OR(ISPICKVAL({!$Record.CreatedBy.Sales_Organisation_SAP_Code__c}, &quot;EN60&quot;),
      ISPICKVAL({!$Record.CreatedBy.Sales_Organisation_SAP_Code__c}, &quot;VD30&quot;))</expression>
    </formulas>
    <interviewLabel>Drawing- Create or Update Triggered {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Drawing- Create or Update Triggered</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>myRule_4_A1</name>
        <label>Populate MPA Lookup</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <inputAssignments>
            <field>Drawing__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.SO_003_MPA_form_Rev_18_Lookup__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_7_A1</name>
        <label>Populate Trial Data Lookup</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Check_if_MPA_Lookup_is_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Drawing__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Trial_Data__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Populate_Design_Brief_Lookup</name>
        <label>Populate Design Brief Lookup</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Check_if_Trial_Data_is_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Drawing__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Design_Brief__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Are_Flows_enabled</targetReference>
        </connector>
        <object>Drawing__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
