force-app/main/default/flows/EarlyLateLoad_CR_RT_After.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Custom_Notification</name>
        <label>Send Custom Notification</label>
        <locationX>424</locationX>
        <locationY>3311</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>vUserTextIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>New PIR Created</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>fNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Action_1</name>
        <label>Send Email Action 1</label>
        <locationX>424</locationX>
        <locationY>3203</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_Custom_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>VarColEmails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>TTsubjectPIR</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TTBodyPIR</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Acc_Mgr</name>
        <label>Assign CS</label>
        <locationX>292</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>vUserTextIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account.Customer_Service_UK__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarColEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account.Customer_Service_UK__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Senior_Sales_Admin</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Acc_Owner</name>
        <label>Assign Acc Owner</label>
        <locationX>424</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>vUserTextIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account.Owner.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarColEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account.Owner.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Acc_Manager_Populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Group_Member_to_User_Collection</name>
        <label>Assign Group Member to User Collection</label>
        <locationX>512</locationX>
        <locationY>2387</locationY>
        <assignmentItems>
            <assignToReference>vGroupMemberID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Group_Members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Group_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sales_Admin</name>
        <label>Assign Sales Admin</label>
        <locationX>292</locationX>
        <locationY>1871</locationY>
        <assignmentItems>
            <assignToReference>vUserTextIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account.Sales_Admin_Lookup__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarColEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account.Sales_Admin_Lookup__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Public_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Senior_Sales</name>
        <label>Assign Senior Sales</label>
        <locationX>292</locationX>
        <locationY>1571</locationY>
        <assignmentItems>
            <assignToReference>vUserTextIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account.Senior_Sales_Admin_Lookup__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarColEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Account.Senior_Sales_Admin_Lookup__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sales_Admin_added</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Variables</name>
        <label>Assign User Variables</label>
        <locationX>512</locationX>
        <locationY>2795</locationY>
        <assignmentItems>
            <assignToReference>vUserTextIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Users.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarColEmails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Users.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Users</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Acc_Manager_Populated</name>
        <label>Customer Service Populated?</label>
        <locationX>424</locationX>
        <locationY>1163</locationY>
        <defaultConnector>
            <targetReference>Senior_Sales_Admin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Acc_Mgr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Customer_Service_UK__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Customer_Service_UK__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Acc_Mgr</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes CS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_TYPE</name>
        <label>Copy 1 of TYPE</label>
        <locationX>1810</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Collapsed_Load_UPDATE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Collapsed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Record_Type_Collapsed_FOR_UPDATE</targetReference>
            </connector>
            <label>Collapsed Load UPDATE</label>
        </rules>
        <rules>
            <name>Type_and_Name_for_Early_Not_Collapsed_Loads_UPDATE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collapsed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Record_Type_Early_Load_FOR_UPDATE</targetReference>
            </connector>
            <label>Type and Name for Early &amp; Not Collapsed Loads UPDATE</label>
        </rules>
        <rules>
            <name>Record_Type_and_Name_for_Late_Load_UPDATE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Late</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collapsed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Record_Type_Late_Load_FOR_UPDATE</targetReference>
            </connector>
            <label>Record Type and Name for Late Load UPDATE</label>
        </rules>
        <rules>
            <name>Record_Type_and_Name_for_On_Time_Not_Collapsed_Loads_UPDATE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Time</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collapsed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Record_Type_Collapsed_2_FOR_UPDATE</targetReference>
            </connector>
            <label>Record Type and Name for On Time &amp; Not Collapsed Loads UPDATE</label>
        </rules>
    </decisions>
    <decisions>
        <name>CREATE_UPDATE</name>
        <label>CREATE/UPDATE</label>
        <locationX>1194</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_TYPE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>UPDATED</defaultConnectorLabel>
        <rules>
            <name>CREATED</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TYPE</targetReference>
            </connector>
            <label>CREATED</label>
        </rules>
    </decisions>
    <decisions>
        <name>Customer_Account_entered</name>
        <label>Customer Account entered?</label>
        <locationX>578</locationX>
        <locationY>839</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Accnt_Entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Yes Accnt Entered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sales_Admin_added</name>
        <label>Sales Admin added?</label>
        <locationX>424</locationX>
        <locationY>1763</locationY>
        <defaultConnector>
            <targetReference>Get_Public_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Sales_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Sales_Admin_Lookup__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Sales_Admin_Lookup__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sales_Admin</targetReference>
            </connector>
            <label>Yes Sales Admin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Senior_Sales_Admin</name>
        <label>Senior Sales Admin?</label>
        <locationX>424</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Sales_Admin_added</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Senior_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Senior_Sales_Admin_Lookup__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Senior_Sales_Admin_Lookup__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Senior_Sales</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes Senior Sales</label>
        </rules>
    </decisions>
    <decisions>
        <name>TYPE</name>
        <label>TYPE</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Customer_Account_entered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Collapsed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Collapsed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Record_Type_Collapsed</targetReference>
            </connector>
            <label>Collapsed</label>
        </rules>
        <rules>
            <name>Type_and_Name_for_Early_Not_Collapsed_Loads</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Early</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collapsed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Record_Type_Early_Load</targetReference>
            </connector>
            <label>Type and Name for Early &amp; Not Collapsed Loads</label>
        </rules>
        <rules>
            <name>Update_Record_Type_and_Name_for_Late_Load</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Late</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collapsed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Record_Type_Late_Load</targetReference>
            </connector>
            <label>Update Record Type and Name for Late Load</label>
        </rules>
        <rules>
            <name>Update_Record_Type_and_Name_for_On_Time_Not_Collapsed_Loads</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Time</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Collapsed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Record_Type_Collapsed_2</targetReference>
            </connector>
            <label>Update Record Type and Name for On Time &amp; Not Collapsed Loads</label>
        </rules>
    </decisions>
    <description>Update so replaces the correct Number
Including PIR record creation notifications
updated email send action</description>
    <environments>Default</environments>
    <formulas>
        <name>fNotificationBody</name>
        <dataType>String</dataType>
        <expression>&quot;Hello&quot; &amp; BR() &amp;
&quot;A new &quot; &amp; {!$Record.RecordType.Name} &amp; &quot; PIR has been created for &quot; &amp; {!$Record.Customer__r.Name} &amp; BR() &amp;
&quot;Click here to be taken to the record.&quot;</expression>
    </formulas>
    <formulas>
        <name>FORMULAforupdate</name>
        <dataType>String</dataType>
        <expression>{!$Record.Dispatch__r.Dispatch_ID__c} 
+ &quot;-&quot; +
MID({!$Record__Prior.Name}, FIND(&quot;-&quot;, {!$Record__Prior.Name}) + 1, 3)
+ &quot; &quot; + 
IF({!$Record.Collapsed__c} = TRUE , &quot;COLLAPSED&quot;, UPPER(TEXT({!$Record.Status__c})))</expression>
    </formulas>
    <formulas>
        <name>FORMULAName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Dispatch__r.Dispatch_ID__c} 
+ &quot;-&quot; +
RIGHT(&apos;000&apos; &amp; TEXT({!$Record.Dispatch__r.Early_Late_Collapsed_Loads__c} + 1), 3) 
+ &quot; &quot; + 
IF({!$Record.Collapsed__c} = TRUE , &quot;COLLAPSED&quot;, UPPER(TEXT({!$Record.Status__c})))</expression>
    </formulas>
    <formulas>
        <name>formulaPIRLINK</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_550})) &amp; {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <name>SetNameaccordingtoDeliveryStatus</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
{!$Record.Name},
RIGHT({!$Record.Name},LEN({!$Record.Name}) - FIND(&quot; &quot;,{!$Record.Name})),
IF({!$Record.Collapsed__c}, &quot;COLLAPSED&quot;, UPPER(TEXT({!$Record.Status__c})))
)</expression>
    </formulas>
    <interviewLabel>EarlyLateLoad-CR-RT-After {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EarlyLateLoad-CR-RT-After</label>
    <loops>
        <name>Loop_Group_Members</name>
        <label>Loop Group Members</label>
        <locationX>424</locationX>
        <locationY>2279</locationY>
        <collectionReference>Get_Group_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Group_Member_to_User_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Users</name>
        <label>Loop Users</label>
        <locationX>424</locationX>
        <locationY>2687</locationY>
        <collectionReference>Get_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_User_Variables</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Email_Template</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>424</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Acc_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Customer__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification</name>
        <label>Get Custom Notification</label>
        <locationX>424</locationX>
        <locationY>3095</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_Action_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PIR Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>424</locationX>
        <locationY>2987</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PIR_Created</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Members</name>
        <label>Get Group Members</label>
        <locationX>424</locationX>
        <locationY>2171</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Public_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Public_Group</name>
        <label>Get Public Group</label>
        <locationX>424</locationX>
        <locationY>2063</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PIR_Notifications</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Record_Type_Collapsed</name>
        <label>GET Record Type Collapsed</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Late_Load__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collapsed_Load</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Record_Type_Collapsed_2</name>
        <label>GET Record Type Collapsed 2</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_3_of_Update_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Late_Load__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collapsed_Load</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Record_Type_Collapsed_2_FOR_UPDATE</name>
        <label>GET Record Type Collapsed 2 FOR UPDATE</label>
        <locationX>2074</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_3_of_Update_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Late_Load__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collapsed_Load</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Record_Type_Collapsed_FOR_UPDATE</name>
        <label>GET Record Type Collapsed FOR UPDATE</label>
        <locationX>1282</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_4_of_Update_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Late_Load__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collapsed_Load</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Record_Type_Early_Load</name>
        <label>GET Record Type Early Load</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Update_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Late_Load__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Early_Load</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Record_Type_Early_Load_FOR_UPDATE</name>
        <label>GET Record Type Early Load FOR UPDATE</label>
        <locationX>1546</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Update_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Late_Load__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Early_Load</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Record_Type_Late_Load</name>
        <label>GET Record Type Late Load</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Update_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Late_Load__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Late_Load</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Record_Type_Late_Load_FOR_UPDATE</name>
        <label>GET Record Type Late Load FOR UPDATE</label>
        <locationX>1810</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_2_of_Update_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Late_Load__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Late_Load</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>424</locationX>
        <locationY>2579</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>vGroupMemberID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Update_Record</name>
        <label>Update Record</label>
        <locationX>1546</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULAforupdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_Record_Type_Early_Load.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_2_of_Update_Record</name>
        <label>Update Record</label>
        <locationX>1810</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULAforupdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_Record_Type_Late_Load.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_3_of_Update_Record</name>
        <label>Update Record</label>
        <locationX>2074</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULAforupdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_Record_Type_Collapsed.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Record</name>
        <label>Copy 1 of Update Record</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Customer_Account_entered</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULAName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_Record_Type_Early_Load.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Record</name>
        <label>Copy 2 of Update Record</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Customer_Account_entered</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULAName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_Record_Type_Late_Load.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_3_of_Update_Record</name>
        <label>Copy 3 of Update Record</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Customer_Account_entered</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULAName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_Record_Type_Collapsed.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_4_of_Update_Record</name>
        <label>Update Record</label>
        <locationX>1282</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULAforupdate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_Record_Type_Collapsed.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Customer_Account_entered</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FORMULAName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GET_Record_Type_Collapsed.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1068</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CREATE_UPDATE</targetReference>
        </connector>
        <object>Late_Load__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TTBodyPIR</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello,
The following {!$Record.RecordType.Name} PIR record has been created in Salesforce:
Customer: {!$Record.Customer__r.Name}
Record Link: {!formulaPIRLINK}</text>
    </textTemplates>
    <textTemplates>
        <name>TTsubjectPIR</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>PIR Created - {!$Record.RecordType.Name}</text>
    </textTemplates>
    <variables>
        <name>RecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarColEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VARemail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vGroupMemberID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vUserTextIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
