force-app/main/default/flows/Email_Alert_on_Drawing_Record_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This email alert is sent to specific users to get the updates about drawing records from the object.</description>
        <name>Drawing_Record_Updates_Alert</name>
        <label>Drawing Record Updates Alert</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Drawing__c.Drawing_Record_Updates_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Drawing__c.Drawing_Record_Updates_Alert</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>This decision is used to guide the flow if the Drawing Record has been created by the user being marked in the Sales Org SAP Code EN60 or VD30.</description>
        <name>Sales_Org_SAP_Code_Check</name>
        <label>Sales Org SAP Code Check</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>FALSE - nothing happens</defaultConnectorLabel>
        <rules>
            <name>TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>USERSalesOrgSAPCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Drawing_Record_Updates_Alert</targetReference>
            </connector>
            <label>TRUE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Formula is used to identify the Sales Organisation SAP Code of the user creating/raising any Drawing records.</description>
        <name>USERSalesOrgSAPCode</name>
        <dataType>Boolean</dataType>
        <expression>OR(ISPICKVAL({!$Record.CreatedBy.Sales_Organisation_SAP_Code__c}, &quot;EN60&quot;),
      ISPICKVAL({!$Record.CreatedBy.Sales_Organisation_SAP_Code__c}, &quot;VD30&quot;))</expression>
    </formulas>
    <interviewLabel>Email Alert on Drawing Record Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Alert on Drawing Record Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sales_Org_SAP_Code_Check</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Spec_No__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SAP_Material_Code__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Drawing__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
