force-app/main/default/flows/Forecast_Create_or_Update_Triggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Are_flows_enabled</name>
        <label>Are flows enabled?</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Flowshouldrun</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Configuration__c.Are_Flows_Off__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Name_and_Unique_ID_are_not_null</targetReference>
            </connector>
            <label>Flow should run</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Name_and_Unique_ID_are_not_null</name>
        <label>Check if Name and Unique ID are not null?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Unique_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Name_and_Unique_ID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>Populate_Forecast_External_IDFormula</name>
        <dataType>String</dataType>
        <expression>$Record.Month__r.Unique_ID__c &amp; &quot;-&quot; &amp;  $Record.Product__r.SAP_Model_Number__c &amp; &quot;-&quot; &amp; IF(ISBLANK( $Record.Product__r.SAP_Material_Code__c ),
 $Record.SAP_Material_Code__r.Name ,$Record.Product__r.SAP_Material_Code__c)</expression>
    </formulas>
    <formulas>
        <name>Populate_Forecast_NameFormula</name>
        <dataType>String</dataType>
        <expression>IF( ISBLANK($Record.Product__r.SAP_Material_Code__c ), $Record.Product__r.SAP_Model_Number__c &amp;&quot;-&quot;&amp;  $Record.SAP_Material_Code__r.Name  ,  $Record.Product__r.Bottle_Identifier__c )</expression>
    </formulas>
    <interviewLabel>Forecast - Create or Update Triggered {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Forecast - Create or Update Triggered</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Name_and_Unique_ID</name>
        <label>Update Name and Unique ID</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Populate_Forecast_NameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unique_ID__c</field>
            <value>
                <elementReference>Populate_Forecast_External_IDFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Are_flows_enabled</targetReference>
        </connector>
        <object>Forecast__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
