force-app/main/default/flows/Late_Load_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assignment_EarlyLate_Load</name>
        <label>assignment EarlyLate Load</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>VAREarlyorLateLoad.Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAREarlyorLateLoad.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Bottle__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAREarlyorLateLoad.Dispatch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAREarlyorLateLoad.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAREarlyorLateLoad.Encirc_Contact_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Encirc_Contact_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAREarlyorLateLoad.Customer_Contact_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Contact_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAREarlyorLateLoad.Date_Informed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Informed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAREarlyorLateLoad.Time_no_glass__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Time_customer_run_out_of_glass</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAREarlyorLateLoad.New_Delivery_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Delivery_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAREarlyorLateLoad.Reason_for_Delay__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_for_Delay</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Collapsed_Load_Record</targetReference>
        </connector>
    </assignments>
    <description>validation rule added</description>
    <dynamicChoiceSets>
        <name>ReasonForDelayPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_Delay__c</picklistField>
        <picklistObject>Late_Load__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatusPCS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Late_Load__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>formulalateloadvalidation</name>
        <dataType>Boolean</dataType>
        <expression>{!New_Delivery_Date} &gt; {!recordId.Planned_Delivery_Date__c}</expression>
    </formulas>
    <formulas>
        <name>LinkToRecord</name>
        <dataType>String</dataType>
        <expression>&quot;https://encirc360--ciber.sandbox.my.site.com/DispatchPortal/s/detail/Late_Load__c/&quot; &amp; {!VAREarlyorLateLoad.Id}</expression>
    </formulas>
    <formulas>
        <name>URLLinktonewrecord</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!VAREarlyorLateLoad.Id}</expression>
    </formulas>
    <interviewLabel>Late Load Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Late Load Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Collapsed_Load_Record</name>
        <label>Create Collapsed Load Record</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>NewRecordCreatedScreen</targetReference>
        </connector>
        <inputReference>VAREarlyorLateLoad</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Records_1</name>
        <label>Get Records 1</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Late_Load</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Late_Load</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Late_Load__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <description>creates an early / late Load record of type colapsed</description>
        <name>New_Late_Load</name>
        <label>New Late Load</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assignment_EarlyLate_Load</targetReference>
        </connector>
        <fields>
            <name>Dispatch_Information</name>
            <fieldText>Dispatch Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dispatch_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>display1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;ID : &lt;/strong&gt;{!recordId.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Dispatch&lt;/strong&gt; &lt;strong&gt;ID&lt;/strong&gt;: {!recordId.Dispatch_ID__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Haulier&lt;/strong&gt; : {!recordId.Haulier__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Dispatch Date : &lt;/strong&gt;{!recordId.Dispatch_Date__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Dispatch Date/Time &lt;/strong&gt;: {!recordId.Dispatch_Date_Time__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Planned Delivery Date&lt;/strong&gt; : {!recordId.Planned_Delivery_Date__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dispatch_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayText2</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Customer&lt;/strong&gt; : {!recordId.Customer__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Product&lt;/strong&gt; : {!recordId.Bottle__r.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Pack Specification&lt;/strong&gt; : {!recordId.Pack_Specification__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Delivery_Information</name>
            <fieldText>Delivery Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Delivery_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>New_Delivery_Date</name>
                    <dataType>DateTime</dataType>
                    <fieldText>New Delivery Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;For a Late Load, the new delivery date must be later than the planned delivery date&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!formulalateloadvalidation}</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Reason_for_Delay</name>
                    <choiceReferences>ReasonForDelayPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason for Delay</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>VAREarlyorLateLoad.Comments__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>VAREarlyorLateLoad.Customer_Informed__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Customer_Informed_Section_Mandatory</name>
            <fieldText>Customer Informed Section (Mandatory)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Informed_Section_Mandatory_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Encirc_Contact_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Encirc Contact Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Customer_Contact_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Customer Contact Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>VAREarlyorLateLoad.Method_of_Communication__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Date_Informed</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Date Informed</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <isRequired>false</isRequired>
                    <objectFieldReference>VAREarlyorLateLoad.Customers_lines_down__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VAREarlyorLateLoad.Customer_Informed__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Customer_s_Lines_Down_Section_Mandatory</name>
            <fieldText>Customer&apos;s Lines Down Section (Mandatory)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_s_Lines_Down_Section_Mandatory_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Time_customer_run_out_of_glass</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Time customer run out of glass</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>VAREarlyorLateLoad.Customers_lines_down__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>to redirect to the record</description>
        <name>NewRecordCreatedScreen</name>
        <label>NewRecordCreatedScreen</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DTNewrecord</name>
            <fieldText>&lt;p&gt;Click &lt;a href=&quot;{!URLLinktonewrecord}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;HERE&lt;/a&gt; to open the new record&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Records_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Dispatch__c</objectType>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>new record variable</description>
        <name>VAREarlyorLateLoad</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Late_Load__c</objectType>
    </variables>
    <variables>
        <name>VARNewLoadRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
