force-app/main/default/flows/Mould_Life_Tracker_After_Create_and_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Account_Manager_Commercial_obsolete_Design_Team_Approved</name>
        <label>Account_Manager_Commercial_obsolete_Design_Team_Approved</label>
        <locationX>314</locationX>
        <locationY>3215</locationY>
        <actionName>Mould_Life_Tracker__c.Account_Manager_Commercial_obsolete_Design_Team_Approved</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_Alert_to_Mould_Shop_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Mould_Life_Tracker__c.Account_Manager_Commercial_obsolete_Design_Team_Approved</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Account_Manager_Commercial_obsolete_Design_Team_Rejected</name>
        <label>Account_Manager_Commercial_obsolete_Design_Team_Rejected</label>
        <locationX>402</locationX>
        <locationY>2759</locationY>
        <actionName>Mould_Life_Tracker__c.Account_Manager_Commercial_obsolete_Design_Team_Rejected</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Design_Team_Approved_Check_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Mould_Life_Tracker__c.Account_Manager_Commercial_obsolete_Design_Team_Rejected</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Design_Commercial_obsolete_Account_Approval</name>
        <label>Design – Commercial obsolete Account Approval</label>
        <locationX>534</locationX>
        <locationY>1943</locationY>
        <actionName>Mould_Life_Tracker__c.Design_Commercial_obsolete_Account_Approval</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Approval_alert_to_submitter_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Mould_Life_Tracker__c.Design_Commercial_obsolete_Account_Approval</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Design_Commercial_obsolete_Account_Approval_0</name>
        <label>Design – Commercial obsolete Account Approval</label>
        <locationX>798</locationX>
        <locationY>1943</locationY>
        <actionName>Mould_Life_Tracker__c.Design_Commercial_obsolete_Account_Approval</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Approval_alert_to_submitter_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Mould_Life_Tracker__c.Design_Commercial_obsolete_Account_Approval</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Design_Commercial_obsolete_Account_Rejection</name>
        <label>Design_Commercial_obsolete_Account_Rejection</label>
        <locationX>534</locationX>
        <locationY>1367</locationY>
        <actionName>Mould_Life_Tracker__c.Design_Commercial_obsolete_Account_Rejection</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Reminder_Followup_task_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Mould_Life_Tracker__c.Design_Commercial_obsolete_Account_Rejection</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Design_Commercial_obsolete_Account_Rejection_0</name>
        <label>Design_Commercial_obsolete_Account_Rejection</label>
        <locationX>798</locationX>
        <locationY>1367</locationY>
        <actionName>Mould_Life_Tracker__c.Design_Commercial_obsolete_Account_Rejection</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Reminder_Followup_task_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Mould_Life_Tracker__c.Design_Commercial_obsolete_Account_Rejection</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_to_Mould_Shop</name>
        <label>Email Alert to Mould Shop</label>
        <locationX>446</locationX>
        <locationY>695</locationY>
        <actionName>Mould_Life_Tracker__c.Mould_Lifecycle_Submitted_to_Mould_Shop</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Mould_has_been_Scrapped_ticked_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Mould_Life_Tracker__c.Mould_Lifecycle_Submitted_to_Mould_Shop</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_to_Mould_Shop_0_0</name>
        <label>Email Alert to Mould Shop</label>
        <locationX>314</locationX>
        <locationY>3335</locationY>
        <actionName>Mould_Life_Tracker__c.Mould_Lifecycle_Submitted_to_Mould_Shop</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Mould_Life_Tracker__c.Mould_Lifecycle_Submitted_to_Mould_Shop</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_to_Mould_Shop_0_0_0</name>
        <label>Email Alert to Mould Shop</label>
        <locationX>534</locationX>
        <locationY>2183</locationY>
        <actionName>Mould_Life_Tracker__c.Mould_Lifecycle_Submitted_to_Mould_Shop</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Account_Manager_Rejected_Check_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Mould_Life_Tracker__c.Mould_Lifecycle_Submitted_to_Mould_Shop</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_to_Mould_Shop_0_0_0_0</name>
        <label>Email Alert to Mould Shop</label>
        <locationX>798</locationX>
        <locationY>2183</locationY>
        <actionName>Mould_Life_Tracker__c.Mould_Lifecycle_Submitted_to_Mould_Shop</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Account_Manager_Rejected_Check_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Mould_Life_Tracker__c.Mould_Lifecycle_Submitted_to_Mould_Shop</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_Alert_to_Mould_Shop_0_0_0_0_0_0_0_0</name>
        <label>Email Alert to Mould Shop</label>
        <locationX>94</locationX>
        <locationY>2063</locationY>
        <actionName>Mould_Life_Tracker__c.Mould_Lifecycle_Submitted_to_Mould_Shop</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Account_Manager_Rejected_Check_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Mould_Life_Tracker__c.Mould_Lifecycle_Submitted_to_Mould_Shop</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Mould_has_been_Scrapped_Alert</name>
        <label>Mould has been Scrapped Alert</label>
        <locationX>446</locationX>
        <locationY>1031</locationY>
        <actionName>Mould_Life_Tracker__c.Mould_has_been_Scrapped_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Account_Manager_Rejected_Check_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Mould_Life_Tracker__c.Mould_has_been_Scrapped_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Mould_Shop_Obsolete_Moulds_Account_Manager_Approved</name>
        <label>Mould Shop - Obsolete Moulds Account Manager Approved</label>
        <locationX>94</locationX>
        <locationY>1943</locationY>
        <actionName>Mould_Life_Tracker__c.Mould_Shop_Obsolete_Moulds_Account_Manager_Approved</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Email_Alert_to_Mould_Shop_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Mould_Life_Tracker__c.Mould_Shop_Obsolete_Moulds_Account_Manager_Approved</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Mould_Shop_Obsolete_Moulds_Account_Manager_Rejected</name>
        <label>Mould Shop - Obsolete Moulds Account Manager Rejected</label>
        <locationX>94</locationX>
        <locationY>1367</locationY>
        <actionName>Mould_Life_Tracker__c.Mould_Shop_Obsolete_Moulds_Account_Manager_Rejected</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Reminder_Followup_task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Mould_Life_Tracker__c.Mould_Shop_Obsolete_Moulds_Account_Manager_Rejected</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Mould_Shop_Obsolete_Moulds_Design_Team_Approved</name>
        <label>Mould_Shop_Obsolete_Moulds_Design_Team_Approved</label>
        <locationX>50</locationX>
        <locationY>3215</locationY>
        <actionName>Mould_Life_Tracker__c.Mould_Shop_Obsolete_Moulds_Design_Team_Approved</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Mould_Life_Tracker__c.Mould_Shop_Obsolete_Moulds_Design_Team_Approved</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Mould_Shop_Obsolete_Moulds_Design_Team_Rejected</name>
        <label>Mould_Shop_Obsolete_Moulds_Design_Team_Rejected</label>
        <locationX>138</locationX>
        <locationY>2759</locationY>
        <actionName>Mould_Life_Tracker__c.Mould_Shop_Obsolete_Moulds_Design_Team_Rejected</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Design_Team_Approved_Check_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Mould_Life_Tracker__c.Mould_Shop_Obsolete_Moulds_Design_Team_Rejected</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Approval_alert_to_submitter_0_0</name>
        <label>Send Approval alert to submitter</label>
        <locationX>534</locationX>
        <locationY>2063</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Email_Alert_to_Mould_Shop_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Setup.Mould_Lifecycle_Tracking_Fields__c.Approval_Rejected_Notification__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Click Here to View</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Approval Approved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varCollectionSubmitterId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Approval_alert_to_submitter_0_0_0</name>
        <label>Send Approval alert to submitter</label>
        <locationX>798</locationX>
        <locationY>2063</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Email_Alert_to_Mould_Shop_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Setup.Mould_Lifecycle_Tracking_Fields__c.Approval_Rejected_Notification__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Click Here to View</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Approval Approved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varCollectionSubmitterId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Approval_alert_to_submitter_0_0_0_0</name>
        <label>Send Approval alert to submitter</label>
        <locationX>50</locationX>
        <locationY>3095</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Mould_Shop_Obsolete_Moulds_Design_Team_Approved</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Setup.Mould_Lifecycle_Tracking_Fields__c.Approval_Rejected_Notification__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Click Here to View</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Approval Approved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varCollectionSubmitterId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Approval_alert_to_submitter_0_0_0_0_0</name>
        <label>Send Approval alert to submitter</label>
        <locationX>314</locationX>
        <locationY>3095</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Account_Manager_Commercial_obsolete_Design_Team_Approved</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Setup.Mould_Lifecycle_Tracking_Fields__c.Approval_Rejected_Notification__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Click Here to View</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Approval Approved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varCollectionSubmitterId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Rejection_alert_to_submitter</name>
        <label>Send Rejection alert to submitter</label>
        <locationX>94</locationX>
        <locationY>1607</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Account_Manager_Approved_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Setup.Mould_Lifecycle_Tracking_Fields__c.Approval_Rejected_Notification__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Click Here to View</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Approval Rejected</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varCollectionSubmitterId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Rejection_alert_to_submitter_0_0</name>
        <label>Send Rejection alert to submitter</label>
        <locationX>534</locationX>
        <locationY>1607</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Account_Manager_Approved_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Setup.Mould_Lifecycle_Tracking_Fields__c.Approval_Rejected_Notification__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Click Here to View</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Approval Rejected</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varCollectionSubmitterId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Rejection_alert_to_submitter_0_0_0</name>
        <label>Send Rejection alert to submitter</label>
        <locationX>798</locationX>
        <locationY>1607</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Account_Manager_Approved_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Setup.Mould_Lifecycle_Tracking_Fields__c.Approval_Rejected_Notification__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Click Here to View</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Approval Rejected</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varCollectionSubmitterId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Rejection_alert_to_submitter_0_0_0_0</name>
        <label>Send Rejection alert to submitter</label>
        <locationX>138</locationX>
        <locationY>2519</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Create_Reminder_Followup_task_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Setup.Mould_Lifecycle_Tracking_Fields__c.Approval_Rejected_Notification__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Click Here to View</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Approval Rejected</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varCollectionSubmitterId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Rejection_alert_to_submitter_0_0_0_0_0</name>
        <label>Send Rejection alert to submitter</label>
        <locationX>402</locationX>
        <locationY>2519</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Create_Reminder_Followup_task_0_0_0_0_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Setup.Mould_Lifecycle_Tracking_Fields__c.Approval_Rejected_Notification__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Click Here to View</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Approval Rejected</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>varCollectionSubmitterId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Submitter_Id</name>
        <label>Add Submitter Id</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>varSubmitterId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Submitter_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Submitter_Id_to_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Submitter_Id_to_Group</name>
        <label>Add Submitter Id to Group</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>varCollectionSubmitterId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSubmitterId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_to_Mould_Shop_Ticked_Check</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Manager_Approved_Check</name>
        <label>Account Manager Approved?</label>
        <locationX>578</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Account_Manager_Rejected_Check_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Approved_Mould_Shop_Obsolete_Moulds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mould_Shop_Obsolete_Moulds</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Manager_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mould_Shop_Obsolete_Moulds_Account_Manager_Approved</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Mould_Shop_Obsolete_Moulds</label>
        </rules>
        <rules>
            <name>Account_Approved_Account_Manager_Commercial_obsolete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account_Manager_Commercial_obsolete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Manager_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Manager_Rejected_Check_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Account_Manager_Commercial_obsolete</label>
        </rules>
        <rules>
            <name>Account_Approved_Design_Commercial_obsolete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Design_Commercial_obsolete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Manager_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Design_Commercial_obsolete_Account_Approval</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Design_Commercial_obsolete</label>
        </rules>
        <rules>
            <name>Account_Approved_Design_Technologically_obsolete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Design_Technologically_obsolete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Manager_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Design_Commercial_obsolete_Account_Approval_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Design_Technologically_obsolete</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision tree split by different Mould Life Tracker RecordType</description>
        <name>Account_Manager_Rejected_Check_0</name>
        <label>Account Manager Rejected?</label>
        <locationX>578</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Account_Manager_Approved_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Rejected_Mould_Shop_Obsolete_Moulds_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mould_Shop_Obsolete_Moulds</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Manager_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mould_Shop_Obsolete_Moulds_Account_Manager_Rejected</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Mould_Shop_Obsolete_Moulds</label>
        </rules>
        <rules>
            <name>Account_Rejected_Account_Manager_Commercial_obsolete_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account_Manager_Commercial_obsolete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Manager_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_Manager_Approved_Check</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Account_Manager_Commercial_obsolete</label>
        </rules>
        <rules>
            <name>Account_Rejected_Design_Commercial_obsolete_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Design_Commercial_obsolete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Manager_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Design_Commercial_obsolete_Account_Rejection</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Design_Commercial_obsolete</label>
        </rules>
        <rules>
            <name>Account_Rejected_Design_Technologically_obsolete_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Design_Technologically_obsolete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Manager_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Design_Commercial_obsolete_Account_Rejection_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Design_Technologically_obsolete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Account_Manager_Rejected_Check_0_0</name>
        <label>Design Manager Rejected?</label>
        <locationX>578</locationX>
        <locationY>2399</locationY>
        <defaultConnector>
            <targetReference>Design_Team_Approved_Check_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Design_Rejected_Mould_Shop_Obsolete_Moulds_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mould_Shop_Obsolete_Moulds</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Design_Team_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Rejection_alert_to_submitter_0_0_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Mould_Shop_Obsolete_Moulds</label>
        </rules>
        <rules>
            <name>Design_Rejected_Account_Manager_Commercial_obsolete_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account_Manager_Commercial_obsolete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Design_Team_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Rejection_alert_to_submitter_0_0_0_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Account_Manager_Commercial_obsolete</label>
        </rules>
        <rules>
            <name>Design_Commercial_obsolete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Design_Commercial_obsolete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Design_Team_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Design_Team_Approved_Check_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Design_Commercial_obsolete</label>
        </rules>
        <rules>
            <name>Design_Technologically_obsolete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Design_Technologically_obsolete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Design_Team_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Design_Team_Approved_Check_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Design_Technologically_obsolete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Design_Team_Approved_Check_0</name>
        <label>Design Team Approved?</label>
        <locationX>578</locationX>
        <locationY>2975</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Approved_Mould_Shop_Obsolete_Moulds_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mould_Shop_Obsolete_Moulds</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Design_Team_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Approval_alert_to_submitter_0_0_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Mould_Shop_Obsolete_Moulds</label>
        </rules>
        <rules>
            <name>Design_Approved_Account_Manager_Commercial_obsolete_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account_Manager_Commercial_obsolete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Design_Team_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Approval_alert_to_submitter_0_0_0_0_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Account_Manager_Commercial_obsolete</label>
        </rules>
        <rules>
            <name>Design_Commercial_obsolete2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Design_Commercial_obsolete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Design_Team_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Design_Commercial_obsolete</label>
        </rules>
        <rules>
            <name>Design_Technologically_obsolete2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Design_Technologically_obsolete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Design_Team_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Design_Technologically_obsolete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mould_has_been_Scrapped_ticked_Check</name>
        <label>Mould has been Scrapped ticked?</label>
        <locationX>578</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Account_Manager_Rejected_Check_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else</defaultConnectorLabel>
        <rules>
            <name>Mould_has_been_Scrapped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mould_Equipment_Scrapped__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mould_has_been_Scrapped_Alert</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Mould has been Scrapped</label>
        </rules>
    </decisions>
    <decisions>
        <name>Submit_to_Mould_Shop_Ticked_Check</name>
        <label>Submit to Mould Shop Ticked?</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Mould_has_been_Scrapped_ticked_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Submit_to_mould_shop_ticked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Submit_to_Mould_Shop__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Alert_to_Mould_Shop</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula6MonthsDueDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Flow.CurrentDate},6)</expression>
    </formulas>
    <formulas>
        <name>formula6MonthsTime</name>
        <dataType>DateTime</dataType>
        <expression>ADDMONTHS({!$Flow.CurrentDateTime},6)</expression>
    </formulas>
    <formulas>
        <name>formulaReminderDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Flow.CurrentDate},6)</expression>
    </formulas>
    <formulas>
        <name>formulaReminderDateTime</name>
        <dataType>DateTime</dataType>
        <expression>ADDMONTHS({!$Flow.CurrentDateTime},6) - (12/24)</expression>
    </formulas>
    <formulas>
        <name>formulaReminderSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Reminder to Review Mould&apos;</expression>
    </formulas>
    <interviewLabel>Mould Life Tracker: Before Create and Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mould Life Tracker: After Create and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Reminder_Followup_task</name>
        <label>Create Reminder Followup task</label>
        <locationX>94</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Send_Rejection_alert_to_submitter</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula6MonthsDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Submitter_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>formulaReminderDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Approval Rejected - Reminder for Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Reminder_Followup_task_0</name>
        <label>Create Reminder Followup task</label>
        <locationX>534</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Send_Rejection_alert_to_submitter_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula6MonthsDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Submitter_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>formulaReminderDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Approval Rejected - Reminder for Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Reminder_Followup_task_0_0</name>
        <label>Create Reminder Followup task</label>
        <locationX>798</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Send_Rejection_alert_to_submitter_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula6MonthsDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Submitter_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>formulaReminderDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Approval Rejected - Reminder for Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Reminder_Followup_task_0_0_0</name>
        <label>Create Reminder Followup task</label>
        <locationX>138</locationX>
        <locationY>2639</locationY>
        <connector>
            <targetReference>Mould_Shop_Obsolete_Moulds_Design_Team_Rejected</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula6MonthsDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>formulaReminderDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Approval Rejected - Reminder for Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Reminder_Followup_task_0_0_0_0_0_0</name>
        <label>Create Reminder Followup task</label>
        <locationX>402</locationX>
        <locationY>2639</locationY>
        <connector>
            <targetReference>Account_Manager_Commercial_obsolete_Design_Team_Rejected</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>formula6MonthsDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>formulaReminderDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Approval Rejected - Reminder for Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Submitter_Id</targetReference>
        </connector>
        <object>Mould_Life_Tracker__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varCollectionSubmitterId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubmitterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
