force-app/main/default/flows/MPA_Test_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>myRule_1</name>
        <label>Sales Org Set or Changed</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>myRule_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Sales Org Set or Changed</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_Sales Org Set or Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_4</name>
        <label>Approved Criteria</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>FALSE_Approved Criteria</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_TRUE_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>TRUE_Approved Criteria</label>
        </rules>
    </decisions>
    <description>Migrated from the MPA Test process using multiple criteria.
Trial record created once approved and reason for trial entered.</description>
    <formulas>
        <name>formula_1_myRule_1_A1_0415229080</name>
        <dataType>String</dataType>
        <expression>CASE(
 TEXT({!$Record.Sales_Organization_Text__c} ),
 &quot;UK&quot;,&quot;EN60&quot;,
 &quot;Italy&quot;,&quot;VD30&quot;,
 &quot;Spain&quot;,&quot;VD10&quot;,
 &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>OR(
 ISNEW(),
 ISCHANGED({!$Record.Sales_Organization_Text__c} )
)</expression>
    </formulas>
    <formulas>
        <name>formula_TRUE_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>TEXT({!$Record.Approval_Status__c}) = &quot;Approved&quot; &amp;&amp;
 ISCHANGED({!$Record.Approval_Status__c}) &amp;&amp;
NOT(ISBLANK ({!$Record.Reason_For_Trial__c} ) )</expression>
    </formulas>
    <label>MPA Test_1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>myRule_4_A1</name>
        <label>Create Trial Data</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>Account_Manager__c</field>
            <value>
                <elementReference>$Record.Account_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_to_which_samples_should_be_sent__c</field>
            <value>
                <elementReference>$Record.Address_to_which_samples_should_be_sent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Annual_Volume_000_s__c</field>
            <value>
                <elementReference>$Record.Annual_Volume_000_s__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capacity__c</field>
            <value>
                <elementReference>$Record.Capacity_ml__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Colour_of_Trial_Samples__c</field>
            <value>
                <elementReference>$Record.Colour_of_Trial_Samples__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>$Record.Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Contact__c</field>
            <value>
                <elementReference>$Record.Customer_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Filling_Site__c</field>
            <value>
                <elementReference>$Record.Customer_Filling_Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_contact_phone_number__c</field>
            <value>
                <elementReference>$Record.Customer_contact_phone_number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drawing_Sketch_Number__c</field>
            <value>
                <elementReference>$Record.Drawing_Sketch_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drawing__c</field>
            <value>
                <elementReference>$Record.Drawing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Full_Production_Required__c</field>
            <value>
                <elementReference>$Record.Full_Production_Required__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Glass_To_Be_Sent_To_Customer__c</field>
            <value>
                <elementReference>$Record.Glass_To_Be_Sent_To_Customer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_Requires_Squeeze_Tester__c</field>
            <value>
                <elementReference>$Record.Line_Requires_Squeeze_Tester__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MPA__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mould_Number__c</field>
            <value>
                <elementReference>$Record.Mould_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mould_Type__c</field>
            <value>
                <elementReference>$Record.Mould_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Trial_Samples_Required__c</field>
            <value>
                <elementReference>$Record.Number_of_Trial_Samples_Required__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trial_Equipment_Plant__c</field>
            <value>
                <elementReference>$Record.Trial_Equipment_Plant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>When_Are_The_Containers_Required__c</field>
            <value>
                <elementReference>$Record.When_Are_The_Containers_Required__c</elementReference>
            </value>
        </inputAssignments>
        <object>Trial_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>myRule_1_A1</name>
        <label>Update Sales Org Code</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>myRule_4</targetReference>
        </connector>
        <inputAssignments>
            <field>Sales_Organization__c</field>
            <value>
                <elementReference>formula_1_myRule_1_A1_0415229080</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <object>MPA__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
