force-app/main/default/flows/NPD_Create_and_Update_After_record_triggerd_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Email to the group to alert of a completed form</description>
        <name>Npd_Completed_Email</name>
        <label>Npd Completed Email</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>NPD_Request__c.NPD_Completed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>IsDesignBriefCreated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NPD_Request__c.NPD_Completed</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>check to see if the form has been completed check box has been ticked</description>
        <name>Form_Completed</name>
        <label>Form Completed</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>IsDesignBriefCreated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Form_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Form_Complete__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>YES</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Form_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>YES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Npd_Completed_Email</targetReference>
            </connector>
            <label>Form Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsDesignBriefCreated</name>
        <label>IsDesignBriefCreated</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Design_Brief_Created__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Design_Brief_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.NPD_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NPD Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>change of trigger to picklist</description>
    <environments>Default</environments>
    <interviewLabel>NPD - Create and Update After record triggerd flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NPD - Create and Update After record triggerd flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>NPD_Stage__c</field>
            <value>
                <stringValue>Design Brief</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Form_Completed</targetReference>
        </connector>
        <object>NPD_Request__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
