force-app/main/default/flows/NPD_Convert_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>fields_not_filled_in</name>
        <label>fields not filled in</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Screen1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>null_fields</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Carbonated_Level_g_CO2_litre__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Costings_Completed_By_Commercial_Manager__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Customer_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Embossed__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Filling_Process_Type__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Refillable__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Glass_Finish_Details__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>recordId.TypeOfDesign__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Capacity_Fill_Point_ml__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>missing_info</targetReference>
            </connector>
            <label>null fields</label>
        </rules>
        <rules>
            <name>null_fields_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.If_No_Line_Audit_Date_Who_Is_Responsible__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Line_Audit_Completed_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>missing_info</targetReference>
            </connector>
            <label>null fields 2</label>
        </rules>
    </decisions>
    <description>Case 6119: Created : This flow creates a design brief from the information provided on the NPD record
Case 6210: added capacity_fill _point_ml__c
Case 6862: added fields Type of Design, customer contact,glass finish details,refillable,embossed,carbonated level(gCO2/litre), filling process type, costing completed by cm,competitors drawing attached...
Case 7043: populate a look up for npd request field</description>
    <environments>Default</environments>
    <formulas>
        <description>creates a link</description>
        <name>formulalforlink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_550}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_550})) &amp; {!createrecord}</expression>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>NPD - Convert - Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NPD - Convert - Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createrecord</name>
        <label>create record</label>
        <locationX>352</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Update_NPD</targetReference>
        </connector>
        <faultConnector>
            <targetReference>fault_screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId.Existing_Customer_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AutomationBypassDateTime__c</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capacity_Brimful_ml__c</field>
            <value>
                <elementReference>recordId.Capacity_Brimful_ml__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capacity_Fill_Point_ml__c</field>
            <value>
                <elementReference>recordId.Capacity_Fill_Point_ml__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carbonated_Level_g_CO2_litre__c</field>
            <value>
                <elementReference>recordId.Carbonated_Level_g_CO2_litre__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor_s_Drawing_Attached__c</field>
            <value>
                <elementReference>recordId.Competitor_s_Drawing_Attached__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor_s_Reference_Number__c</field>
            <value>
                <elementReference>recordId.Competitor_s_Reference_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Container_Description__c</field>
            <value>
                <elementReference>recordId.Container_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Costings_Completed_By_Commercial_Manager__c</field>
            <value>
                <elementReference>recordId.Costings_Completed_By_Commercial_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Contact__c</field>
            <value>
                <elementReference>recordId.Customer_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Date_For_24_Samples__c</field>
            <value>
                <elementReference>recordId.Delivery_Date_For_24_Samples__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Embossed__c</field>
            <value>
                <elementReference>recordId.Embossed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Volume_000_s__c</field>
            <value>
                <elementReference>recordId.Estimated_Volume_000_s__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Container__c</field>
            <value>
                <elementReference>recordId.Existing_SKU__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Filling_Process_Type__c</field>
            <value>
                <elementReference>recordId.Filling_Process_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Glass_Colour__c</field>
            <value>
                <elementReference>recordId.Glass_Colour__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Glass_Finish_Details__c</field>
            <value>
                <elementReference>recordId.Glass_Finish_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_No_Line_Audit_Date_Who_Is_Responsible__c</field>
            <value>
                <elementReference>recordId.If_No_Line_Audit_Date_Who_Is_Responsible__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_Audit_Completed_Date__c</field>
            <value>
                <elementReference>recordId.Line_Audit_Completed_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NPD_Request__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Design_Details_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Colour__c</field>
            <value>
                <elementReference>recordId.Other_Colour__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Information__c</field>
            <value>
                <elementReference>recordId.Other_Information__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Production_Glass_Required_By__c</field>
            <value>
                <elementReference>recordId.Requested_Bulk_Glass_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refillable__c</field>
            <value>
                <elementReference>recordId.Refillable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Design__c</field>
            <value>
                <elementReference>recordId.TypeOfDesign__c</elementReference>
            </value>
        </inputAssignments>
        <object>Design_Brief__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>creates a link between the two objects</description>
        <name>Update_NPD</name>
        <label>Update NPD lookup</label>
        <locationX>352</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Createdscreen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>fault_screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Design_Brief_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Design_Brief_SR_001_Rev_6__c</field>
            <value>
                <elementReference>createrecord</elementReference>
            </value>
        </inputAssignments>
        <object>NPD_Request__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>confirmation of created record</description>
        <name>Createdscreen</name>
        <label>Createdscreen</label>
        <locationX>352</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displaytextcreated</name>
            <fieldText>&lt;p&gt;Record Created: {!Design_Details_Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!formulalforlink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Click Here!&lt;/a&gt; to go to the record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>created failed</description>
        <name>fault_screen</name>
        <label>fault screen</label>
        <locationX>880</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Faultscreen</name>
            <fieldText>&lt;p&gt;We had a problem.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.InterviewGuid}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>missing_info</name>
        <label>missing info</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>message</name>
            <fieldText>&lt;p&gt;There appears to be missing information please return to the record and fill in these details before continuing:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DTTypeofDesign</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Type of Design&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.TypeOfDesign__c</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DTCustomerContact</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Customer Contact&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Customer_Contact__c</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DTGlassFinishDetails</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Glass Finish Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Glass_Finish_Details__c</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DTRefillable</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Refillable&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Refillable__c</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Embossed</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Embossed&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Embossed__c</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DTCarbonatedLevelLitre</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;Carbonated Level (g CO2/litre)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Carbonated_Level_g_CO2_litre__c</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DTFillingProcessType</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;Filling Process Type&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Filling_Process_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DTCostingsCompletedByCommercialManager</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;Costings Completed By Commercial Manager&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Costings_Completed_By_Commercial_Manager__c</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DTCompetitorsDrawingAttached</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Competitor&apos;s Drawing Attached&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Competitor_s_Drawing_Attached__c</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DTLineAudit</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Line Audit Responsibility:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;If the &quot;&lt;/span&gt;&lt;strong style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Line Audit Completed Date&quot;&lt;/strong&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt; is blank then you must define who is responsible for the Line Audit in the field -&lt;/span&gt;&lt;strong style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt; &quot;If No Line Audit Date Who Is Responsible&quot;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.If_No_Line_Audit_Date_Who_Is_Responsible__c</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.Line_Audit_Completed_Date__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DTCapacityFillpointml</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Capacity Fill Point (ml)&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Capacity_Fill_Point_ml__c</leftValueReference>
                    <operator>EqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>input name</description>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>352</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>createrecord</targetReference>
        </connector>
        <fields>
            <name>DTinfo</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please enter a name for this design brief.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Design_Details_Name</name>
            <dataType>String</dataType>
            <fieldText>Design Details Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Convert</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>fields_not_filled_in</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>record that started the process</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>NPD_Request__c</objectType>
    </variables>
</Flow>
