force-app/main/default/flows/Opportunity_line_items_before_trigger_CU.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>this will update to the null value</description>
        <name>add_blank_incoterm</name>
        <label>add blank incoterm</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Price_Includes_Delivery__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>includes_mould_cost_amoritisation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_excluding_mould_costs</name>
        <label>add excluding mould costs</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Description</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> Excluding Mould Costs</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>add_including_mould_costs</name>
        <label>add including mould costs</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Description</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> Including Mould Costs </stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>this will update to the null value</description>
        <name>add_incoterm</name>
        <label>add incoterm</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Price_Includes_Delivery__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>includes_mould_cost_amoritisation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Description_is_changed</name>
        <label>Description is changed</label>
        <locationX>1238</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>description_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>incoterms</targetReference>
            </connector>
            <label>description changed</label>
        </rules>
        <rules>
            <name>price_include_mould_cost_amoritisation_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Price_Includes_Mould_Cost_Amortisation__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>incoterms</targetReference>
            </connector>
            <label>price include mould cost amoritisation changed</label>
        </rules>
        <rules>
            <name>price_includes_delivery_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Price_Includes_Delivery__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>incoterms</targetReference>
            </connector>
            <label>price includes delivery changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>includes_mould_cost_amoritisation</name>
        <label>includes mould cost amoritisation</label>
        <locationX>314</locationX>
        <locationY>803</locationY>
        <defaultConnectorLabel>null</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Price_Includes_Mould_Cost_Amortisation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_including_mould_costs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Price_Includes_Mould_Cost_Amortisation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_excluding_mould_costs</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Incoterms = Price_Includes_Delivery__c</description>
        <name>incoterms</name>
        <label>incoterms</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>includes_mould_cost_amoritisation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Description_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Price_Includes_Delivery__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_blank_incoterm</targetReference>
            </connector>
            <label>incoterms is Null</label>
        </rules>
        <rules>
            <name>incoterms_has_a_value</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Price_Includes_Delivery__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Price_Includes_Delivery__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Price_Includes_Delivery__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_incoterm</targetReference>
            </connector>
            <label>incoterms has a value</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_new_or_description_updated</name>
        <label>is new</label>
        <locationX>512</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Description_is_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>updated</defaultConnectorLabel>
        <rules>
            <name>Fifty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Opportunity_RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fifty_Master_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <label>Fifty</label>
        </rules>
        <rules>
            <name>Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>incoterms</targetReference>
            </connector>
            <label>Created</label>
        </rules>
    </decisions>
    <description>update: flow doesn&apos;t apply to Opportunities of RT Fifty</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity line items - before trigger - CU {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity line items - before trigger - CU</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>the flow won&apos;t do anything if it&apos;s a FIfty Opportunity</description>
        <name>get_Opportunity_RecordType</name>
        <label>get Opportunity RecordType</label>
        <locationX>512</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_new_or_description_updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity.RecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Opportunity_RecordType</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
