force-app/main/default/flows/Opportunity_Product_Create_or_Update_Triggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Description_Mould_Cost_Amortisation</name>
        <label>Assign Description - Mould Cost Amortisation</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Var_Opp_Product.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mould_Cost_Amortisation_check</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Var_OpportunityProduct_isn_t_empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Description_True</name>
        <label>Assign Description - True</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Var_Opp_Product.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description_check</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Var_OpportunityProduct_isn_t_empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Product_ID</name>
        <label>Assign Opportunity Product ID</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>Var_Opp_Product.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Volume_Units_is_greater_or_equal_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quantity</name>
        <label>Assign Quantity</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>Var_Opp_Product.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Volume_total_units__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_product_Fields</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_Flows_enabled</name>
        <label>Are Flows enabled?</label>
        <locationX>633</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Flow_should_run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Configuration__c.Are_Flows_Off__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Description_Changed</targetReference>
            </connector>
            <label>Flow should run</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Description_Changed</name>
        <label>Check if Description Changed?</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_if_Mould_Cost_Amortisation_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_or_changed_description_check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Description_True</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Mould_Cost_Amortisation_Changed</name>
        <label>Check if Mould Cost Amortisation Changed?</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Check_if_Var_OpportunityProduct_isn_t_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Price_Includes_Mould_Cost_Amortisation__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Price_Includes_Delivery__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Description_Mould_Cost_Amortisation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Var_OpportunityProduct_isn_t_empty</name>
        <label>Check if Var_OpportunityProduct isn&apos;t null?</label>
        <locationX>380</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_Opp_Product</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opportunity_Product_ID</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Volume_Units_is_greater_or_equal_1</name>
        <label>Check if Volume(Units) is greater or equal 1?</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <defaultConnector>
            <targetReference>Update_Opportunity_product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Volume_total_units__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Quantity</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <formulas>
        <name>Description_check</name>
        <dataType>String</dataType>
        <expression>NULLVALUE({!$Record.Description},&apos;&apos;) + 
&quot; (&quot; + 
TEXT({!$Record.Price_Includes_Delivery__c}) + 
&quot;) &quot; +
IF (TEXT( {!$Record.Price_Includes_Mould_Cost_Amortisation__c})=&quot;Yes&quot;, &quot;Including mould costs&quot; , &quot;Excluding mould costs&quot; )</expression>
    </formulas>
    <formulas>
        <name>Mould_Cost_Amortisation_check</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Record.Description}, FIND(&quot;(&quot;, {!$Record.Description})-2) + 
&quot; (&quot; + 
TEXT({!$Record.Price_Includes_Delivery__c}) + 
&quot;) &quot; +
IF (TEXT( {!$Record.Price_Includes_Mould_Cost_Amortisation__c})=&quot;Yes&quot;, &quot;Including mould costs&quot; , &quot;Excluding mould costs&quot; )</expression>
    </formulas>
    <formulas>
        <name>New_or_changed_description_check</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.Description})
||
ISNEW()</expression>
    </formulas>
    <interviewLabel>Opportunity Product - Create or Update Triggered {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Product - Create or Update Triggered</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Opportunity_product</name>
        <label>Update Opportunity product</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Var_Opp_Product.Description</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_product_Fields</name>
        <label>Update Opportunity product Fields</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Var_Opp_Product.Description</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>507</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Are_Flows_enabled</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Var_Opp_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
