force-app/main/default/flows/Screenflow_Create_Health_Safety_PIR.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Blank</name>
        <label>Assign Blank</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Get_H_S_Record.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_H_S_Record.Cause_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_H_S_Record.Cause_Subcategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_H_S_Record.Cause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Early_Load</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Dispatch</name>
        <label>Assign Dispatch</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>VAREarlyorLateLoad.Dispatch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignment_H_S_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Misc</name>
        <label>Apply misc</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>VAREarlyorLateLoad.Dispatch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Dispatch_record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignment_H_S_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_H_S_Variables</name>
        <label>assignment H&amp;S Variables</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>VAREarlyorLateLoad.Customer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Customer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAREarlyorLateLoad.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAREarlyorLateLoad.Customer_Contact_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Contact_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAREarlyorLateLoad.Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_H_S_Record.Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAREarlyorLateLoad.Cause_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_H_S_Record.Cause_Category__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Collapsed_Load_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Dispatch_Populated</name>
        <label>Is Dispatch Populated?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Assign_Dispatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_issue_related_to_a_dispatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Dispatch_record</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>StatusPCS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Late_Load__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FORMULAEarlyNAME</name>
        <dataType>String</dataType>
        <expression>{!recordId.Dispatch_ID__c}
+ &quot;-&quot; +
RIGHT(&apos;000&apos; &amp; TEXT({!recordId.Early_Late_Collapsed_Loads__c} + 1 ), 3) 
+ &quot; &quot; + 
UPPER(TEXT({!VAREarlyorLateLoad.Status__c}))</expression>
    </formulas>
    <formulas>
        <name>LinkToRecord</name>
        <dataType>String</dataType>
        <expression>&quot;https://encirc360--ciber.sandbox.my.site.com/DispatchPortal/s/detail/Late_Load__c/&quot; &amp; {!VAREarlyorLateLoad.Id}</expression>
    </formulas>
    <formulas>
        <name>URLLinktonewrecord</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!VAREarlyorLateLoad.Id}</expression>
    </formulas>
    <interviewLabel>Screenflow: Created Health &amp; Safety {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screenflow: Create Health &amp; Safety PIR</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Collapsed_Load_Record</name>
        <label>Create H&amp;S Record</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>NewRecordCreatedScreen</targetReference>
        </connector>
        <inputReference>VAREarlyorLateLoad</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Dispatch_record</name>
        <label>Get Misc Dispatch record</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Misc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Misc</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dispatch__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_H_S_Record</name>
        <label>Get H&amp;S Record</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Late_Load__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Records_1</name>
        <label>Get Record Type</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_H_S_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Health_Safety</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Late_Load__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>creates an early / late Load record of type health and safety</description>
        <name>New_Early_Load</name>
        <label>New Health &amp; Safety</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Dispatch_Populated</targetReference>
        </connector>
        <fields>
            <name>DTHeader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;New Health &amp;amp; Safety Record&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Details</name>
            <fieldText>Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>VAREarlyorLateLoad.Haulier__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>VAREarlyorLateLoad.Customer__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>VAREarlyorLateLoad.Product__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>VAREarlyorLateLoad.Related_Load__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Customer_Contact_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Customer Contact Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Is_this_issue_related_to_a_dispatch</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Is this issue related to a dispatch?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>VAREarlyorLateLoad.Dispatch__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_this_issue_related_to_a_dispatch</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_H_S_Record.Source__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_H_S_Record.Cause_Category__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>VAREarlyorLateLoad.Add__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>VAREarlyorLateLoad.Comments__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>to redirect to the record</description>
        <name>NewRecordCreatedScreen</name>
        <label>NewRecordCreatedScreen</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DTNewrecord</name>
            <fieldText>&lt;p&gt;Record successfully created. Click &lt;a href=&quot;{!URLLinktonewrecord}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;HERE&lt;/a&gt; to open the new record&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Records_1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Dispatch__c</objectType>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>new record variable</description>
        <name>VAREarlyorLateLoad</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Late_Load__c</objectType>
    </variables>
    <variables>
        <name>VARNewLoadRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
