force-app/main/default/flows/SO_003_MPA_form_Rev_18_Create_or_Update_Triggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Are_flows_enabled</name>
        <label>Are flows enabled?</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Flow_should_run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Configuration__c.Are_Flows_Off__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_Sales_org_is_New_or_Changed</targetReference>
            </connector>
            <label>Flow should run</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Approved_criteria</name>
        <label>Check for Approved criteria?</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Is_Drawing_Record_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Approved</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approved_criteria_check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Trial_Data</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Sales_org_is_New_or_Changed</name>
        <label>Check if Sales org is New or Changed?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Check_for_Approved_criteria</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SalesOrg_isNew_or_Changed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sales_Org_Code</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Drawing_Record_Found</name>
        <label>Is Drawing Record Found?</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Drawing_Record_FoundMPA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Drawing__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Drawing__r.MPA_Record_Attached__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Drawing_Object_Record</targetReference>
            </connector>
            <label>Is Drawing Record Found</label>
        </rules>
    </decisions>
    <formulas>
        <name>Approved_criteria_check</name>
        <dataType>Boolean</dataType>
        <expression>TEXT({!$Record.Approval_Status__c}) = &quot;Approved&quot; &amp;&amp;
 ISCHANGED({!$Record.Approval_Status__c}) &amp;&amp;
NOT(ISBLANK ({!$Record.Reason_For_Trial__c} ) )</expression>
    </formulas>
    <formulas>
        <name>SalesOrg_code</name>
        <dataType>String</dataType>
        <expression>CASE(
 TEXT({!$Record.Sales_Organization_Text__c} ),
 &quot;UK&quot;,&quot;EN60&quot;,
 &quot;Italy&quot;,&quot;VD30&quot;,
 &quot;Spain&quot;,&quot;VD10&quot;,
 &quot;&quot;
)</expression>
    </formulas>
    <formulas>
        <name>SalesOrg_isNew_or_Changed</name>
        <dataType>Boolean</dataType>
        <expression>OR(
 ISNEW(),
 ISCHANGED({!$Record.Sales_Organization_Text__c} )
)</expression>
    </formulas>
    <interviewLabel>(SO-003) MPA form Rev 18 - Create or Update Triggered {!$Flow.CurrentDateTime}</interviewLabel>
    <label>(SO-003) MPA form Rev 18 - Create or Update Triggered</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Trial_Data</name>
        <label>Create Trial Data</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Is_Drawing_Record_Found</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Manager__c</field>
            <value>
                <elementReference>$Record.Account_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address_to_which_samples_should_be_sent__c</field>
            <value>
                <elementReference>$Record.Address_to_which_samples_should_be_sent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Annual_Volume_000_s__c</field>
            <value>
                <elementReference>$Record.Annual_Volume_000_s__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capacity__c</field>
            <value>
                <elementReference>$Record.Capacity_ml__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Colour_of_Trial_Samples__c</field>
            <value>
                <elementReference>$Record.Colour_of_Trial_Samples__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment__c</field>
            <value>
                <elementReference>$Record.Comments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Contact__c</field>
            <value>
                <elementReference>$Record.Customer_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Filling_Site__c</field>
            <value>
                <elementReference>$Record.Customer_Filling_Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer__c</field>
            <value>
                <elementReference>$Record.Customer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drawing_Sketch_Number__c</field>
            <value>
                <elementReference>$Record.Drawing_Sketch_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drawing__c</field>
            <value>
                <elementReference>$Record.Drawing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Full_Production_Required__c</field>
            <value>
                <elementReference>$Record.Full_Production_Required__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Glass_To_Be_Sent_To_Customer__c</field>
            <value>
                <elementReference>$Record.Glass_To_Be_Sent_To_Customer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_Requires_Squeeze_Tester__c</field>
            <value>
                <elementReference>$Record.Line_Requires_Squeeze_Tester__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MPA__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mould_Number__c</field>
            <value>
                <elementReference>$Record.Mould_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mould_Type__c</field>
            <value>
                <elementReference>$Record.Mould_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Trial_Samples_Required__c</field>
            <value>
                <elementReference>$Record.Number_of_Trial_Samples_Required__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trial_Equipment_Plant__c</field>
            <value>
                <elementReference>$Record.Trial_Equipment_Plant__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>When_Are_The_Containers_Required__c</field>
            <value>
                <elementReference>$Record.When_Are_The_Containers_Required__c</elementReference>
            </value>
        </inputAssignments>
        <object>Trial_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Drawing_Object_Record</name>
        <label>Update Drawing Object Record</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Drawing__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MPA_Record_Attached__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SO_003_MPA_form_Rev_18_Lookup__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Drawing__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_Org_Code</name>
        <label>Update Sales Org Code</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Check_for_Approved_criteria</targetReference>
        </connector>
        <inputAssignments>
            <field>Sales_Organization__c</field>
            <value>
                <elementReference>SalesOrg_code</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Are_flows_enabled</targetReference>
        </connector>
        <object>MPA__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
