force-app/main/default/flows/TrialData_Owner_Inactive_replacement_Before_save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>because the emails to inactive owners fail this replace the record owner with an active user (Accont owner)</description>
        <name>update_owner</name>
        <label>update owner</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer__r.OwnerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>owner_inactive</name>
        <label>owner inactive</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Owner Active</defaultConnectorLabel>
        <rules>
            <name>inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_owner</targetReference>
            </connector>
            <label>Owner Inactive</label>
        </rules>
    </decisions>
    <description>replace an inactive owner with account owner</description>
    <environments>Default</environments>
    <interviewLabel>TrialData - Owner Inactive replacement - Before save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TrialData - Owner Inactive replacement - Before save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>owner_inactive</targetReference>
        </connector>
        <object>Trial_Data__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
