force-app/main/default/flows/Trial_Date_Updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Approval_To_Order_Production_Tooling</name>
        <label>Approval To Order Production Tooling</label>
        <locationX>182</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Production_Tooling_Ordered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Approval_To_Order_Production_Tooling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_to_order_Production_Tooling__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Approval_to_order_Production_Tooling__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_To_MPA_Approved_for_Bulk_Moulds</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approved_To_Production</name>
        <label>Approved To Production</label>
        <locationX>182</locationX>
        <locationY>3047</locationY>
        <defaultConnector>
            <targetReference>Site_Of_First_Production</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Approved_To_Production</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approved_for_Production__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Approved_for_Production__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_To_Customer_Approved_for_Bulk_Glass</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Balance_Mould_Equipment_Delivery_Date</name>
        <label>Balance Mould Equipment Delivery Date</label>
        <locationX>182</locationX>
        <locationY>2447</locationY>
        <defaultConnector>
            <targetReference>Proposed_First_Production_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Balance_Mould_Equipment_Delivery_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Balance_Mould_Equipment_delivery_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Balance_Mould_Equipment_delivery_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_To_Bulk_Moulds_Delivery_date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Design_Brief</name>
        <label>Check Design Brief</label>
        <locationX>336</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Drawing.Design_Brief__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trial_Equipment_Ordered</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Drawing</name>
        <label>Check Drawing</label>
        <locationX>545</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Drawing_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Drawing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Drawing</targetReference>
            </connector>
            <label>Drawing Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Date_Samples_Sent_ToCustomer</name>
        <label>Date Samples Sent To Customer</label>
        <locationX>182</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>Approval_To_Order_Production_Tooling</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Date_Samples_Sent_To_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_Samples_Sent_to_Customer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Date_Samples_Sent_to_Customer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_To_Trial_Samples_Sent_To_Customer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Job_Approved_by_Plant</name>
        <label>Job Approved by Plant</label>
        <locationX>182</locationX>
        <locationY>3647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Approved_by_plant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Job_Approved_By_Plant__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Job_Approved_By_Plant__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_NPD_Closed</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Production_Tooling_Ordered</name>
        <label>Production Tooling Ordered</label>
        <locationX>182</locationX>
        <locationY>2147</locationY>
        <defaultConnector>
            <targetReference>Balance_Mould_Equipment_Delivery_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Production_Tooling_Ordered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Production_Tooling_Ordered__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Production_Tooling_Ordered__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_To_Bulk_Moulds_Ordered</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Proposed_First_Production_Date</name>
        <label>Proposed First Production Date</label>
        <locationX>182</locationX>
        <locationY>2747</locationY>
        <defaultConnector>
            <targetReference>Approved_To_Production</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Proposed_First_Production_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Proposed_First_Production_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Proposed_First_Production_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_To_2_Day_Production_Run_Approved</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Site_Of_First_Production</name>
        <label>Site Of First Production</label>
        <locationX>182</locationX>
        <locationY>3347</locationY>
        <defaultConnector>
            <targetReference>Job_Approved_by_Plant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Site_Of_First_Production</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Site_of_First_Production__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Site_of_First_Production__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_To_Site_Approved_Bulk_Glass_Production</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Trial_Date</name>
        <label>Trial Date</label>
        <locationX>182</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Date_Samples_Sent_ToCustomer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Trial_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trial_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Trial_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_To_Trial_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Trial_Equipment_Ordered</name>
        <label>Trial Equipment Ordered</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Trial_Mould_Equipment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Trial_Equipment_Ordered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trial_Equipment_Ordered__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Trial_Equipment_Ordered__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_To_Trial_Moulds_Ordered</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Trial_Mould_Equipment</name>
        <label>Trial Mould Equipment</label>
        <locationX>182</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Trial_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Trial_Mould_Equipment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trial_Mould_Equipment_Delivery_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Trial_Mould_Equipment_Delivery_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_To_Trial_Moulds_Equip_Delivery_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Trial Date Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trial Date Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Drawing</name>
        <label>Get Drawing</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Design_Brief</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Drawing__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Drawing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_To_2_Day_Production_Run_Approved</name>
        <label>Update To 2 Day Production Run Approved</label>
        <locationX>50</locationX>
        <locationY>2855</locationY>
        <connector>
            <targetReference>Approved_To_Production</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Design_Brief_SR_001_Rev_6__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Drawing.Design_Brief__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NPD_Stage__c</field>
            <value>
                <stringValue>2 Day Production Run Approved</stringValue>
            </value>
        </inputAssignments>
        <object>NPD_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_To_Bulk_Moulds_Delivery_date</name>
        <label>Update To Bulk Moulds Delivery date</label>
        <locationX>50</locationX>
        <locationY>2555</locationY>
        <connector>
            <targetReference>Proposed_First_Production_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Design_Brief_SR_001_Rev_6__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Drawing.Design_Brief__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NPD_Stage__c</field>
            <value>
                <stringValue>Bulk Moulds Delivery date</stringValue>
            </value>
        </inputAssignments>
        <object>NPD_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_To_Bulk_Moulds_Ordered</name>
        <label>Update To Bulk Moulds Ordered</label>
        <locationX>50</locationX>
        <locationY>2255</locationY>
        <connector>
            <targetReference>Balance_Mould_Equipment_Delivery_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Design_Brief_SR_001_Rev_6__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Drawing.Design_Brief__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NPD_Stage__c</field>
            <value>
                <stringValue>Bulk Moulds Ordered</stringValue>
            </value>
        </inputAssignments>
        <object>NPD_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_To_Customer_Approved_for_Bulk_Glass</name>
        <label>Update To Customer Approved for Bulk Glass</label>
        <locationX>50</locationX>
        <locationY>3155</locationY>
        <connector>
            <targetReference>Site_Of_First_Production</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Design_Brief_SR_001_Rev_6__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Drawing.Design_Brief__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NPD_Stage__c</field>
            <value>
                <stringValue>Customer Approved for Bulk Glass</stringValue>
            </value>
        </inputAssignments>
        <object>NPD_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_To_MPA_Approved_for_Bulk_Moulds</name>
        <label>Update To MPA Approved for Bulk Moulds</label>
        <locationX>50</locationX>
        <locationY>1955</locationY>
        <connector>
            <targetReference>Production_Tooling_Ordered</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Design_Brief_SR_001_Rev_6__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Drawing.Design_Brief__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NPD_Stage__c</field>
            <value>
                <stringValue>MPA Approved for Bulk Moulds</stringValue>
            </value>
        </inputAssignments>
        <object>NPD_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_NPD_Closed</name>
        <label>Update to NPD Closed</label>
        <locationX>50</locationX>
        <locationY>3755</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Design_Brief_SR_001_Rev_6__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Drawing.Design_Brief__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NPD_Stage__c</field>
            <value>
                <stringValue>NPD Closed</stringValue>
            </value>
        </inputAssignments>
        <object>NPD_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_To_Site_Approved_Bulk_Glass_Production</name>
        <label>Update To Site Approved Bulk Glass Production</label>
        <locationX>50</locationX>
        <locationY>3455</locationY>
        <connector>
            <targetReference>Job_Approved_by_Plant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Design_Brief_SR_001_Rev_6__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Drawing.Design_Brief__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NPD_Stage__c</field>
            <value>
                <stringValue>Site Approved Bulk Glass Production</stringValue>
            </value>
        </inputAssignments>
        <object>NPD_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_To_Trial_Date</name>
        <label>Update To Trial Date</label>
        <locationX>50</locationX>
        <locationY>1355</locationY>
        <connector>
            <targetReference>Date_Samples_Sent_ToCustomer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Design_Brief_SR_001_Rev_6__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Drawing.Design_Brief__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NPD_Stage__c</field>
            <value>
                <stringValue>Trial Date</stringValue>
            </value>
        </inputAssignments>
        <object>NPD_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_To_Trial_Moulds_Equip_Delivery_Date</name>
        <label>Update To Trial Moulds Equip Delivery Date</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Trial_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Design_Brief_SR_001_Rev_6__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Drawing.Design_Brief__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NPD_Stage__c</field>
            <value>
                <stringValue>Trial Mould Equip Delivery Date</stringValue>
            </value>
        </inputAssignments>
        <object>NPD_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_To_Trial_Moulds_Ordered</name>
        <label>Update To Trial Moulds Ordered</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Trial_Mould_Equipment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Design_Brief_SR_001_Rev_6__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Drawing.Design_Brief__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NPD_Stage__c</field>
            <value>
                <stringValue>Trial Moulds Ordered</stringValue>
            </value>
        </inputAssignments>
        <object>NPD_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_To_Trial_Samples_Sent_To_Customer</name>
        <label>Update To Trial Samples Sent To Customer</label>
        <locationX>50</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Approval_To_Order_Production_Tooling</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Design_Brief_SR_001_Rev_6__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Drawing.Design_Brief__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NPD_Stage__c</field>
            <value>
                <stringValue>Trial Samples sent to customer</stringValue>
            </value>
        </inputAssignments>
        <object>NPD_Request__c</object>
    </recordUpdates>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Drawing</targetReference>
        </connector>
        <object>Trial_Data__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
