force-app/main/default/flows/Trial_Data_Changed_Create_or_Update_Triggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>myRule_3_A1</name>
        <label>Initial Email Alert</label>
        <locationX>204</locationX>
        <locationY>1776</locationY>
        <actionName>Trial_Data__c.testSFDC</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Trial_Data__c.testSFDC</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Trial_Data_Created</name>
        <label>Trial Data Created</label>
        <locationX>138</locationX>
        <locationY>1284</locationY>
        <actionName>Trial_Data__c.Trial_Data_Created</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Trial_Date_is_not_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Trial_Data__c.Trial_Data_Created</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Trial_date_email_alert</name>
        <label>Trial date email alert</label>
        <locationX>402</locationX>
        <locationY>1392</locationY>
        <actionName>Trial_Data__c.Trial_Data_trial_date</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Trial_Date_is_not_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Trial_Data__c.Trial_Data_trial_date</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>X1_Day_Email_Alert</name>
        <label>1 Day Email Alert</label>
        <locationX>1106</locationX>
        <locationY>492</locationY>
        <actionName>Trial_Data__c.TESTSFDC5</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Trial_Data__c.TESTSFDC5</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Are_flows_enabled</name>
        <label>Are flows enabled?</label>
        <locationX>589</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Flow_should_run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Configuration__c.Are_Flows_Off__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Drawing_Record_Found</targetReference>
            </connector>
            <label>Flow should run</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_New_Record</name>
        <label>Check for New Record?</label>
        <locationX>336</locationX>
        <locationY>1176</locationY>
        <defaultConnector>
            <targetReference>Trial_Date_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Record1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trial_Data_Created</targetReference>
            </connector>
            <label>New Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Trial_type_and_MPA_is_not_empty</name>
        <label>Check if Trial type and MPA is not empty?</label>
        <locationX>336</locationX>
        <locationY>876</locationY>
        <defaultConnector>
            <targetReference>Check_for_New_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MPA__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trial_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MPA</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_4_of_Are_flows_enabled</name>
        <label>Are flows enabled?</label>
        <locationX>1436</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_Flow_should_run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.Configuration__c.Are_Flows_Off__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Samples_are_available_for_Customer_5th</targetReference>
            </connector>
            <label>Flow should run</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Drawing_Record_Found</name>
        <label>Is Drawing Record Found?</label>
        <locationX>336</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Check_if_Trial_type_and_MPA_is_not_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Drawing_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Drawing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_the_field_already_populated</targetReference>
            </connector>
            <label>Drawing Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_the_field_already_populated</name>
        <label>is the field already populated</label>
        <locationX>182</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Check_if_Trial_type_and_MPA_is_not_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>populated</defaultConnectorLabel>
        <rules>
            <name>is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Drawing__r.Trial_Data_Lookup__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Related_Drawing_Object_Record</targetReference>
            </connector>
            <label>is null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Samples_are_available_for_Customer_5th</name>
        <label>Check if Samples are available for Customer?</label>
        <locationX>1238</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Samples_Available_For_Customer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_Samples_Sent_to_Customer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_Day_Email_Alert</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Trial_Date_changed</name>
        <label>Trial Date changed</label>
        <locationX>534</locationX>
        <locationY>1284</locationY>
        <defaultConnector>
            <targetReference>Trial_Date_is_not_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trial_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trial_date_email_alert</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Trial_Date_is_not_Null</name>
        <label>Check if Trial Date is not Null?</label>
        <locationX>336</locationX>
        <locationY>1668</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_00</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trial_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Did_The_Trial_Take_Place__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>New_Record</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>fix drawing record update</description>
    <environments>Default</environments>
    <formulas>
        <name>New_Record</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Trial Data Changed - Create or Update Triggered {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Trial Data Changed - Create or Update Triggered</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_MPA</name>
        <label>Update MPA</label>
        <locationX>204</locationX>
        <locationY>984</locationY>
        <connector>
            <targetReference>Check_for_New_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Trial_Type__c</field>
            <value>
                <elementReference>$Record.Trial_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.MPA__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Related_Drawing_Object_Record</name>
        <label>Update the Related Drawing Object Record</label>
        <locationX>50</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Check_if_Trial_type_and_MPA_is_not_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Drawing__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Trial_Data_Lookup__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Drawing__c</object>
    </recordUpdates>
    <start>
        <locationX>886</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Are_flows_enabled</targetReference>
        </connector>
        <object>Trial_Data__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X1_day_after_Sample_available_for_Customer</name>
            <connector>
                <targetReference>Copy_4_of_Are_flows_enabled</targetReference>
            </connector>
            <label>1 day after Sample available for Customer</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Samples_Available_For_Customer__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Fetch_drawing_object_fields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Drawing__c</objectType>
    </variables>
</Flow>
