force-app/main/default/flows/Update_Pending_Approval_Owner_5pm.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Has_Pending_Approvals</name>
        <label>Has Pending Approvals</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Planning Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Approvals</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>clone to run at a different time</description>
    <formulas>
        <name>now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Update Pending Approval Owner 5pm {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Pending Approval Owner 5pm</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Approvals</name>
        <label>Get Approvals</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WorkItem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkItem</name>
        <label>Get WorkItem</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Approval_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProcessInstanceId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Approvals.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceWorkitem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Approval_Owner</name>
        <label>Update Approval Owner</label>
        <locationX>50</locationX>
        <locationY>636</locationY>
        <inputAssignments>
            <field>Approval_Owner__c</field>
            <value>
                <elementReference>Get_WorkItem.ActorId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Submited_By__c</field>
            <value>
                <elementReference>Get_Approvals.SubmittedBy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Approval_Process_Submission_Date__c</field>
            <value>
                <elementReference>Get_Approvals.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Approval_Update_date_time__c</field>
            <value>
                <elementReference>Get_Approvals.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Pending_Approvals</targetReference>
        </connector>
        <object>MPA__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-04-25</startDate>
            <startTime>17:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
